<app-book-details-modal [books]="books"></app-book-details-modal>

<div class="card" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(books)">

  <img src="../../../../assets/icons/Admin-dashboard/book-image.svg" class="image-size"/>

  <img src="../../../../assets/icons/Admin-dashboard/top-choice-rectangle-card.svg" class="book-card-rectangle" />
  <div class="book-details ml-0" [ngClass]="{'conditional-css': isAdmin() == false}">

    <div *ngIf="isAdmin()==false && books?.statusName == 'Avaliable' " class="tag">AVALIABLE</div>
    <div *ngIf="isAdmin()==false && books?.statusName == 'Not Avaliable' " class="not-avaliable-tag">NOT AVALIABLE</div>

    <div class="book-title">
      {{ books?.title }}
    </div>
    <div class="author-name">{{ books?.authorName }}</div>
    <div class="rating ">
      <!--<img src="../../../../assets/icons/Admin-dashboard/Rating.svg" />-->
      <ng-container *ngIf="books?.points > 0; else noRatingYet">
        <ng-container *ngFor="let star of getStarsArray(books?.points)">
          <img src="../../../assets/icons/filled_star.svg" class="star-icon" />
        </ng-container>
        <ng-container *ngFor="let star of getEmptyStarsArray(books?.points)">
          <img src="../../../assets/icons/empty_star.svg" class="star-icon" />
        </ng-container>
        <div class="rating-people-count ">(29)</div>
      </ng-container>

      <ng-template #noRatingYet>
        <p style="font-family: Lato; font-size: 14px; font-weight: 400; text-align: left; color: #6D6D6D;">
          Not rated yet
        </p>
      </ng-template>


    </div>
  </div>
</div>
