.header {
  border-bottom: none !important;
  padding: 1rem;
}

.heading {
  color: var(--Primary-Grey, #343435);
  leading-trim: both;
  text-edge: cap;
  font-family: Literata;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.issue-icn {
  margin: 0rem 0.5rem 0.8rem 0rem;
}



.top-heading{
    margin-left:0.4rem;
}

@media (min-width: 576px) {
  .modal-outer-boundary {
    max-width: 40.625rem !important;
  }

  .close-modal-button {
    margin-right: 1rem;
  }


}
