.manage-outer{
    height: auto;
    width: 75rem;
    margin-top: 1.5rem;
    /*margin-bottom: 7.25rem;*/
}

.manage-heading {
  margin-bottom: 1rem;
}

.manage-heading span {
  color: var(--Primary-Grey, #343435);
  font-family: Literata;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.manage-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 1.5rem;
}

.search-bar {
  display: flex;
  width: 19.875rem;
  height: 2.5rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 0.25rem;
  border-radius: 2.75rem;
  background: #F2F2F2;
}

.search-bar img {
  width: 1.5rem;
  height: 1.5rem;
}

.search-bar input{
  width: 100%;
  background: none;
  outline: none;
  border: none;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

.add-book-button {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1.875rem;
  background: var(--Primary-Blue, #28519E);
  outline: none;
  border: none;
  cursor: pointer;
}

.add-book-button img, .issue-book-button img {
  width: 1rem;
  height: 1rem;
}

.add-book-button span {
  color: #FFF;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.issue-book-button {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.6875rem;
  border: 1px solid #28519E;
  outline: none;
  cursor: pointer;
  background-color: #ffff;
}

.issue-book-button span {
  color: var(--Primary-Blue, #28519E);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.checkbox {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.archive-users {
  width: 187px;
  height: 24px;
  gap: 26px;
  margin-left: -11rem;
}

.archive-checkbox {
  display: none;
}

.archive-text-heading {
  position: relative;
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 25px;
}

  .archive-text-heading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #28519E;
    background-color: transparent;
  }

.archive-checkbox:checked + .archive-text-heading:before {
  background-color: #28519E;
  content: '\2713';
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.rightSide input {
  display: none;
}


.archive-label {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

  .archive-label span {
    color: var(--Primary-Gray, #343435);
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .st{ border: 1px solid black}
