.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
 
}

.mat-table {
  overflow: auto;
}


.mat-mdc-header-row {
  background: var(--Primary-Royal-Blue, #002C3F) !important;
  color: var(--Primary-Pure-White, #FFF);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
/*  border: 2px solid var(--Primary-Royal-Blue, #002C3F);
  border-radius: 10px !important;*/
}


.book-name-cell {
  display: flex;
  width: 29.375rem;
  padding: 0.625rem 1rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  background: var(--Primary-Pure-White, #FFF);
  cursor: pointer;
}

.book-name-cell img {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.book-thumbnail {
  display: flex;
  width: 1.225rem;
  height: 2.318rem;
  padding: 0.175rem;
  flex-direction: column;
  align-items: center;
  gap: 0.0875rem;
  flex-shrink: 0;
  border-radius: 0.175rem;
  background: var(--secondary-Light-Grey, #E9ECEB);
}

.book-name {
  color: var(--Primary-Blue, #28519E);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.mat-mdc-row {
  border-bottom: 1px solid var(--secondary-Light-Grey, #E9ECEB) !important;
}


.mat-mdc-paginator-icon {
  fill: #ff00008a;
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: #ff00001f !important;
}

.mat-mdc-paginator-range-label{
    display: none !important;
}

#mat-paginator-page-size-label-0 {
  color: #706F73;
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 1.25rem !important;
}

.example-container {
  overflow: hidden; /* This will ensure that the child elements don't bleed out of the border */
  border-radius: 0.5rem;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  width: 75rem;
}
