
  <div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" class="borderra">

      <!-- Book Name Column -->
      <ng-container matColumnDef="bookName">
        <mat-header-cell *matHeaderCellDef>Book Name </mat-header-cell>
        <mat-cell *matCellDef="let element" colspan="2">
          <div *ngIf="loading ==true">
            <ngx-skeleton-loader [theme]="{ height: '10px', width: '250px', 'margin-top':'12px'}"></ngx-skeleton-loader>
          </div>
          <div *ngIf="loading == false">
            <div class="book-name-cell" (click)="element.expanded = !element.expanded">
              <img *ngIf="!element.expanded" src="../../../../assets/icons/manage-books/expand-icon.svg" />
              <img *ngIf="element.expanded" src="../../../../assets/icons/manage-books/collapse-icon.svg" />
              <div class="book-thumbnail" [style.backgroundImage]="'url(' + element.bookImage + ')'">
              </div>
              <span class="book-name">{{element.bookName}}</span>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Author Column -->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="element.expanded = !element.expanded">
          <div *ngIf="loading ==true">
            <ngx-skeleton-loader [theme]="{ height: '10px', width: '250px', 'margin-top':'12px'}"></ngx-skeleton-loader>
          </div>
          <div *ngIf="loading == false">
            {{element.author}}
          </div>
        </mat-cell>
      </ng-container>

      <!-- Copies Column -->
      <ng-container matColumnDef="copies">
        <mat-header-cell *matHeaderCellDef> #Copies </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="element.expanded = !element.expanded">
          <div *ngIf="loading ==true">
            <ngx-skeleton-loader [theme]="{ height: '10px', width: '250px', 'margin-top':'12px'}"></ngx-skeleton-loader>
          </div>
          <div *ngIf="loading == false">
            {{element.copies}}
          </div>
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="expand_collapse">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button [disabled]="allExpanded()" (click)="expandAll()">
            <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-icon-button [disabled]="allCollapsed()" (click)="collapseAll()">
            <mat-icon>expand_less</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button *ngIf="!element.expanded">
            <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-icon-button *ngIf="element.expanded">
            <mat-icon>expand_less</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <div *matRowDef="let row; columns: displayedColumns">
        <mat-row></mat-row>
        <div *ngIf="row.expanded">
          <!--This is the detail about the row {{ row.bookData | json }}-->
          <app-inner-table [bookName]="row.bookName" [bookDataArray2]="row.bookData"></app-inner-table>
        </div>
      </div>
    </mat-table>

    <mat-paginator appStylePaginator
                   [appCustomLength]="dataSource.data.length"
                   [length]="dataSource.data.length"
                   [pageSize]="5"
                   [pageSizeOptions]="[1, 2, 3, 5, 10]"
                   [currentPageSize]="this.dataSource.paginator?.pageSize"
                   aria-label="Select page">
    </mat-paginator>
    <!--<mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>-->
  </div>
