<div class="explore-outer">

  <div class="rating">
    <app-rating-dropdown></app-rating-dropdown>
  </div>

  <div class="inner">
    <div class="column">
      <app-books-card-shared></app-books-card-shared>
      <div class="clear"></div>
    </div>
    <div class="column">
      <app-books-card-shared></app-books-card-shared>
      <div class="clear"></div>
    </div>
    <div class="column">
      <app-books-card-shared></app-books-card-shared>
      <div class="clear"></div>
    </div>
    <div class="column">
      <app-books-card-shared></app-books-card-shared>
      <div class="clear"></div>
    </div>
    <div class="column">
      <app-books-card-shared></app-books-card-shared>
      <div class="clear"></div>
    </div>
  </div>

</div>
