<app-revoke-permission-modal (revokeAdminMobile)="onRevokeAdminMobile($event)"></app-revoke-permission-modal>
                             <!--(revokeAdminMobile)="onRevokeAdminMobile($event)" (modalClosed)="onModalClose($event)" [selectedAdmin]="adminMobile">-->

<div id="main">

  <div class="container-fluid">
    <div class="Access-control-heading ">
      <img src="../../../assets/icons/Access-control-mobile/ArrowRight.svg" (click)="routeTODasboard()" />
      <span class="heading-text">Access Control</span>
    </div>
    <div class="accordion">
      <div>
        <app-mobile-accordian *ngFor="let adminMobile of adminListMobile; let index = index" [adminMobile]="adminMobile" [index]="index" (revokeSingleUserMobile)="onRevokeSingleUserMobile($event)"></app-mobile-accordian>
      </div>
    </div>

  </div>
  <div class="access-footer-button">
    <app-assign-permission-modal></app-assign-permission-modal>

    <button class="footer-button" (click)="openModal()">
      <img src="../../../assets/icons/Access-control-web/Assign recieved.svg" />
      <span>Assign Permission</span>
    </button>
  </div>
</div>



