<div class="explore-books-body">
  <div class="header">
    <div class="header-txt">Reader’s Hub</div>
    <img src="../../../assets/icons/explore-books/Keyboard arrow right.svg" />
    <div class="header-txt">Explore Books</div>
  </div>
  <div class="subhead">
    <div class="explore-books-heading col-8">Explore Books</div>
    <div class="check-box-component col-2">
      <label class="custom-checkbox">
        <input type="checkbox" id="checkboxId">
        <img src="../../../assets/icons/explore-books/Checkbox component.svg">
      </label>
      <div class="check-box-text">Available Books</div>
    </div>
  </div>
</div>
