@import url('explore-books.component.css');
.explore-books-body{
    margin:1.5rem 2rem 1.5rem 2rem;
}
.header {
  display: flex;
  flex-direction: row;
}
.header-txt {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subhead{
    margin:1.5rem 0rem 2.5rem 0rem;
    display: flex;
    position:relative;
    flex-direction: row;
}
.explore-books-heading {
  color: var(--Primary-Grey, #343435);

  font-family: Literata;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding:0rem !important;
}
.check-box-text {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.38rem;
  margin-top: 0.5rem;
}
.check-box-component {
  display: flex;
  flex-direction: row;
  margin-top:0.2rem;
}
.all-star {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 160% */
}

.newasset-dropdown {
  position: relative;
  display: inline-block;
  /*display: flex;*/
  /* width: 7.5rem;
  height: 2.125rem;
  padding: 0.375rem 0.625rem;
  justify-content: space-between;
  align-items: center;*/
  border-radius: 0.267rem;
  background-color: var(--Primary-White, #FFF);
}

  .newasset-dropdown .dropdown-button {
    color: var(--Primary-Gray, #343435);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.267rem;
    border: 1.068px solid var(--Secondary-Gray, #B2B2B3);
    background-color: var(--Primary-White, #FFF);
    color: black;
    width: 7.4375rem;
    height: 2.125rem;
    padding: 0.375rem 0.625rem;
    right:0%;
    position:absolute;
    /*justify-content: space-between;
  align-items: center;*/
  }

    .newasset-dropdown .dropdown-button img {
      flex-shrink: 0;
      fill: var(--Primary-Gray, #343435);
    }

  .newasset-dropdown .content {
    position: absolute;
    border-radius: 0.25rem;
    background: #FFF;
    /* Shadow */
    box-shadow: 0px 4px 20px 0px rgba(40, 52, 73, 0.15);
    display: flex;
    /*padding: 0.375rem 0.5rem;*/
    z-index:5;


    align-items: flex-end;
    gap: 0.5rem;
    align-self: stretch;
    min-width: 100px;
    font-size: 0.8375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    display: none;
  }

  .newasset-dropdown:hover .content {
    display: block;
  }

 
  .newasset-dropdown:hover .dropdown-button {
    background-color: white;
  }

  .newasset-dropdown label {
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding:0.25rem 0.5rem 0.25rem 0.5rem;
  }

    .newasset-dropdown label:hover {
      background-color: hsl(0, 0%, 90%);
    }


.hide {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}


.st {
  border: 1px solid black;
}


.content {
  width: 10rem;
}

.frame {
  width: var(--checkbox-small-icon, 1.25rem);
  height: var(--checkbox-small-icon, 1.25rem);
}
.star-img {
  margin-left: 0.5rem;
}

.option-txt {
  color: var(--Primary-Gray, #343435);
 
  font-family: Lato;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 160% */
  margin-left: 0.5rem;
}
.rating-txt {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.book-cards-view{
    display:flex;
    flex-direction:row;
    gap:2.5rem;
}
@media screen and (min-width: 1500px) {
  .explore-books-body {
    width: 76rem;
    margin: auto;
  }

 
}
.arrow{
    display:none;
}


@media screen and (max-width: 426px) {
  .header{
      display:none;
  }
  .explore-books-heading {
    color: var(--Primary-Grey, #343435);
    leading-trim: both;
    text-edge: cap;
    font-family: Literata;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .arrow{
      display:block;
      margin-right:0.75rem;
  }
  .subhead{
      margin-left:-1.1rem;
  }
  .selectors{
      display:flex;
      flex-direction:row;
  }
  .subhead{
      display:flex;
      flex-direction:column;
  }
  .subhead-heading{
      display:flex;
      flex-direction:row;
  }
  
}
