.list-panel-container {
  display: flex;
  height:42rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  width:110%;
}

.search-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.list-search-bar {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Gray, #B2B2B3);
}

.list-search-bar-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
}

  .list-search-bar-input img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .list-search-bar-input input {
    flex: 1 0 0;
    border: none;
    outline: none;
  }

    .list-search-bar-input input::placeholder {
      color: var(--Primary-Gray, #343435);
      font-family: Roboto;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
    }

.admin-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.534rem;
  flex: 1 0 0;
  align-self: stretch;
}


.st{
    border: 1px solid black;
    width:100%;
}
app-admin-name-card{
    width:100%;
}

.spinner-loading {
  margin-left: 8.5rem;
}
/*@media screen and (min-width: 700px) and (max-width: 1000px) {
  .list-panel-container {
    width: 18.1875rem;

  }*/


/*.admin-card {
  border: 1px solid #ccc;*/
  /*padding: 10px;
  margin: 10px;*/
  /*cursor: pointer;
  transition: background-color 0.3s ease;
}

  .admin-card:hover {
    background-color: #f0f0f0;
  }

  .admin-card.selected {
    background-color: #007bff;*/ /* Change to desired color */
    /*color: white;*/ /* Ensure text is readable on selected background */
  /*}*/

