<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" class="borderra">

    <ng-container matColumnDef="bookName">
      <mat-header-cell *matHeaderCellDef class="mat-column-bookName">Book Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-bookName">
        <div *ngIf="loading ==true">
          <ngx-skeleton-loader [theme]="{ height: '10px', width: '150px', 'margin-top':'12px'}"></ngx-skeleton-loader>
        </div>
        <div class="book-name-image" *ngIf="loading ==false">
          <div class="book-thumbnail" [style.backgroundImage]="'url(' + element.image + ')'">
          </div>
          <span class="book-name">{{element.bookName}}</span>
        </div>
      </mat-cell>
    </ng-container>


    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="loading ==true">
          <ngx-skeleton-loader [theme]="{ height: '10px', width: '130px', 'margin-top':'12px'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="loading ==false">
          {{element.author}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- QR Number Column -->
    <ng-container matColumnDef="qrNumber">
      <mat-header-cell *matHeaderCellDef> QR Number </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="loading == true">
          <ngx-skeleton-loader [theme]="{ height: '10px', width: '100px', 'margin-top':'12px'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="loading == false">
          {{element.qrNumber}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- Date of Issue Column -->
    <ng-container matColumnDef="dateOfIssue">
      <mat-header-cell *matHeaderCellDef> Date of Issue </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="loading == true">
          <ngx-skeleton-loader [theme]="{ height: '10px', width: '120px', 'margin-top':'12px'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="loading == false">
          {{element.dateOfIssue}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- Date of Return Column -->
    <ng-container matColumnDef="dateOfReturn">
      <mat-header-cell *matHeaderCellDef> Date of Return </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="loading == true">
          <ngx-skeleton-loader [theme]="{ height: '10px', width: '120px', 'margin-top':'12px'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="loading == false">
          {{element.dateOfReturn}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="loading == true">
          <ngx-skeleton-loader [theme]="{ height: '10px', width: '100px', 'margin-top':'12px'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="loading == false">
          <span *ngFor="let star of getStars(element.rating)">
            <img [src]="star ? '../../../../assets/icons/my-books/star-marked.svg' : '../../../../assets/icons/my-books/star-unmarked.svg'" alt="star">
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="loading == true">
          <ngx-skeleton-loader [theme]="{ height: '10px', width: '80px', 'margin-top':'12px'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="loading == false">
          <span [ngClass]="getStatusClass(element.status)">
            {{element.status}}
          </span>
        </div>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <div *matRowDef="let row; columns: displayedColumns">
      <mat-row></mat-row>
    </div>
  </mat-table>
  <mat-paginator appStylePaginator
                 [appCustomLength]="dataSource.data.length"
                 [length]="dataSource.data.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[1, 2, 3, 5, 10]"
                 [currentPageSize]="this.dataSource.paginator?.pageSize"
                 aria-label="Select page">
  </mat-paginator>

</div>
