<div class="container-fluid  outer-div ">
  <div class="dashboard-accesscontrol ">
    <span class="dash-heading">Dashboard</span>
    <img src="../../../assets/icons/Access-control-web/Keyboard arrow right.svg" />
    <span class="dash-heading">Access Control</span>

  </div>
  <div class=" container-fluid  ">
    <div class="access-header ">
      <div class="access-header-title">
        <span>Access Control</span>
      </div>
      <div class="access-header-button">
        <button >
          <img src="../../../assets/icons/Access-control-web/Assign recieved.svg" />
          <span>Assign Permission</span>
        </button>
      </div>
    </div>

    <div class="access-content  row ">
      <div class="col-lg-3 col-md-4" >
        <app-list-panel></app-list-panel>
      </div>
     <div class="col-lg-7 col-md-6">
             <app-permission-panel></app-permission-panel>

     </div>
    </div>
  </div>
</div>
