<app-issue-book-modal [bookqrcode]="bookqrcode"></app-issue-book-modal>

<div class="container-fluid background">
  <div class="header">
    <span class="scan-book-text">Scan Book</span>
    <img class="close" src="../../../../assets/icons/scanner/Close.svg" (click)=" closePage()" />
  </div>
  <div class="border-scan">
    <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
    <img src="../../../../assets/icons/scanner/border-scan.svg" id="scanner-border" />
  </div>
 
  <div class="footer">
    <span class="text">Align to the QR code to fill inside the frame</span>
    <button (click)="toggleScanner()" type="button" class="btn btn-primary scan-button">

      {{action?.isStart ? 'Stop' : 'Start'}} Scan
    </button>
  </div>
</div>
