<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <div class="navbar-brand"><img src="../../../../assets/icons/CG Logo.svg" /></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <!--user-->
        <li class="nav-item" *ngIf="role=='User'">
          <div class="switch navbar-buttons">
            <input type="radio" class="switch-input" name="view" value="week" id="week" [class.active]="activeButton === 'readers-hub'"
                   (click)="toggleActiveButton('readers-hub')">
            <label for="week" class="switch-label switch-label-off readers-hub">
              <img src="../../../../assets/icons/ic_round-dashboard.svg" class="readers-hub-image" />
              <p>Reader's Hub</p>
            </label>
            <input type="radio" class="switch-input" name="view" value="month" id="month" [class.active]="activeButton === 'my-books'" (click)="toggleActiveButton('my-books')">
            <label for="month" class="switch-label switch-label-on readers-hub">
              <img src="../../../../assets/icons/nav book icon.svg" class="readers-hub-image" />
              <p>My Books</p>
            </label>
            <span [ngClass]="{'switch-selection': isHighlighted}"></span>
          </div>
        </li>
        <!--admin-->
        <li class="nav-item" *ngIf="role=='Admin'">
          <div class="switch navbar-buttons" [style.width.px]="267">
            <input type="radio" class="switch-input" name="view" value="week" id="week" [class.active]="activeButton === 'Dashboard'"
                   (click)="toggleActiveButton('Dashboard')">
            <label for="week" class="switch-label switch-label-off readers-hub" style="margin-right:0.3rem">
              <img src="../../../../assets/icons/ic_round-dashboard.svg" class="readers-hub-image" />
              <p>Dashboard</p>
            </label>
            <input type="radio" class="switch-input" name="view" value="month" id="month" [class.active]="activeButton === 'manage-books'" (click)="toggleActiveButton('manage-books')">
            <label for="month" class="switch-label switch-label-on readers-hub">
              <img src="../../../../assets/icons/nav book icon.svg" class="readers-hub-image" />
              <p>Manage Books</p>
            </label>
            <span [ngClass]="{'switch-selection': isHighlighted}" [style.width.px]="138"></span>
          </div>
        </li>

      </ul>
  <!--user-->
      <div class="form-inline" *ngIf="role=='User'">
        <form>
          <div class="search-box-container" >
            <img src="../../../../assets/icons/searchIcon.svg" class="search-icon" />
            <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search library" aria-label="Search" (focus)="open_search()">
          </div>
        </form>
        <div class="initials">
          <div class="login">

            <ngx-avatars name={{roleName}} [textSizeRatio]=2.7 bgColor="var(--Primary-Pure-White, #FFF)" fgColor="var(--Primary-Royal-Blue, #002C3F)" [round]="true" size="40" [style.fontWeight]="'600'"></ngx-avatars>


          </div>
          <div class="chevron-down" [class.open]="isDropdownOpen">
            <img src="../../../../assets/icons/Chevron down.svg" (click)="toggleDropdown()" />

          </div>
          <div class="dropdown_chevon" *ngIf="this.isDropdownOpen">
            <div>
              <img src="../../../../assets/icons/user.svg" class="user-icon" />
              <span class="user-name"> {{roleName}}</span>
            </div>
            <div  *ngIf="role=='Admin'" class="user-name" (click)="toggleActiveButton('readers-hub')">
              <img src="../../../../assets/icons/switchuser.svg" class="user-icon" />
              <span>Switch to User Portal</span>
            </div>
            <div class="logout">
              <img src="../../../../assets/icons/logout.svg" class="user-icon" />
              <span> Logout</span>
            </div>
          </div>
        </div>
      </div>
      <!--admin-->
      <div class="form-inline" *ngIf="role=='Admin'">
        <div class="settings" (click)="open_settings()">
          <img src="../../../../assets/icons/Settings.svg" />

        </div>
        <div class="initials">
          <div class="login">

            <ngx-avatars name={{roleName}} [textSizeRatio]=2.7 bgColor="var(--Primary-Pure-White, #FFF)" fgColor="var(--Primary-Royal-Blue, #002C3F)" [round]="true" size="40" [style.fontWeight]="'600'"></ngx-avatars>


          </div>
          <div class="chevron-down" [class.open]="isDropdownOpenadmin">
            <img src="../../../../assets/icons/Chevron down.svg" (click)="admintoggleDropdown()"  />

          </div>
          <div class="dropdown_chevon" *ngIf="isDropdownOpenadmin">
            <div>
              <img src="../../../../assets/icons/user.svg" class="user-icon" />
              <span class="user-name"> {{roleName}}</span>

              <div class="admin-text">Admin</div>
            </div>
            <div class="user-name" (click)="toggleToUser('readers-hub')" >
              <img src="../../../../assets/icons/switchuser.svg" class="user-icon" />
              <span>Switch to User Portal</span>
            </div>
            <div class="logout">
              <img src="../../../../assets/icons/logout.svg" class="user-icon" />
              <span> Logout</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
