.navbar {
  height: 3.75rem;
  padding: 1rem;
  background: var(--Primary-Royal-Blue, #002C3F);
  position:fixed;
  width:100%;
  z-index:102;
  top:0;
}
.search-box-container {
  position: relative;
  padding-right: 20px;
  height: 2.75rem;

}

.search-icon {
  position: absolute;
  left: 10px;
  top: 51%;
  transform: translateY(-50%);
  color: #6D6D6D;
  pointer-events: none;
  padding-left: 10px;
}

.search-box {
  padding-left: 50px;
}

input[type=search] {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}


.search-box {
  border: 2px solid var(--Primary-Pure-White, #FFF);
  border-radius: 55px;
  height: 44px;
  display: flex;
  width: 276px;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  background: #FFF;
  color: #6D6D6D;
  outline: none;
}

::placeholder {
  color:  #6D6D6D;
}

.initials {
  width: 65px;
  height: 40px;
  gap: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.login {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Primary-Pure-White, #FFF);
}
.name {
  color: var(--Primary-Royal-Blue, #002C3F);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 10px;
}
.form-inline{
    position:absolute;
    right:1rem;
}
.switch {
  position: relative;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 256px;
  height: 40px;
}


.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  cursor: pointer;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  margin-top: 15px;
  
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}

  .switch-input:checked + .switch-label {
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -ms-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    
    transition: 0.25s ease-out;
    -webkit-transition-property: color, text-shadow;
    -moz-transition-property: color, text-shadow;
    -ms-transition-property: color, text-shadow;
    -o-transition-property: color, text-shadow;
    transition-property: color, text-shadow;
  }

  .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 126px;
    /* Note: left: 50%; doesn't transition in WebKit */
  }

.switch-selection {
  position: absolute;
  width: 128px;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  height: 36px;
  border-radius: 4.5rem;
 
  -webkit-transition: left 0.25s ease-out;
  -moz-transition: left 0.25s ease-out;
  -o-transition: left 0.25s ease-out;
  transition: left 0.25s ease-out;
  background-color: #FFB81C;
  color: #002C3F;
}

.navbar-buttons {
  width: 256px;
  height: 40px;
  margin-left: 5rem;
  border-radius: 72px;
  background: var(--Primary-Pure-White, #FFF);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}



.readers-hub {
  width: 125px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 72px;
  background: #FFB81C;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 9px;
  margin-left: 2px;
  background: none;
}

.readers-hub-image {
  margin-right: 10px;
}

.readers-hub p {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  margin-top: 15px;
}
.dropdown_chevon {
  position: absolute;
  top: 3.28rem;
  right:-1rem;
  display: flex;
  width: 15.0625rem;
  padding: 1rem 0.9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.25rem;
  background: var(--White, #FFF);
  z-index:100;
  /* Drop Shadow */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
}
.user-icon {
  width: 1rem;
  height: 1rem;
  margin-right:0.5rem;
}
.user-name {
  color: var(--Primary-Gray, #343435);
 
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; /* 150% */
}
.logout {
  color: var(--Red, #F82C44) !important;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.settings{
    position:absolute;
    right:5rem;
    height:1.5rem;
    width:1.5rem;
    cursor:pointer;
    
}
.admin-text {
  color: var(--Adhoc-Text-Grey, #6D6D6D);
  font-family: Lato;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3125rem;
  margin-left:1.5rem;
  margin-top:-0.2rem;
  margin-bottom:-0.5rem;
  /* 175% */
}
.mobile_search_icon {
    display:none;
}
.mobile-container {
  display: none;
}
@media only screen and (min-width: 865px) and (max-width: 1024px) {
  .navbar-buttons {
    width: 256px;
    height: 40px;
    margin-left: 1rem;
    border-radius: 72px;
    background: var(--Primary-Pure-White, #FFF);
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
}
@media (max-width: 900px) {


  .navbar-toggler {
    outline: none;
    margin-right: -1rem;
  }

  .navbar {
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 1rem;
  }

  .cross-icon {
    font-size: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }

  .navbar-buttons {
    display: none;
  }

  .search-box-container {
    display: none;
  }

  .login {
    display: none;
  }
  /*  .mobile-container {
    display: block;
    background-color: white;
    width: 100vw;
    height: 80vh;
    position: relative;
    border:2px solid black;
    margin-left:-1rem;
    margin-top:-0.7rem;
    z-index:107;
  }*/
  .navbar-collapse {
    background-color: white;
    width: 100%;
    height: 94.5vh;
    position: relative;
    z-index: 107;
    margin-left: -1rem;
    margin-right: -1rem;
    transition: none;
  }

  .avatars {
    display: flex;
    padding: 12px 12px 12px 12px;
    gap: 12px;
  }



  .full-name-email {
    gap: 6px;
  }

  .full-name {
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
  }



  .dashboard-menu {
    display: flex;
    height: 56px;
    padding: 16px 0px 0px 0px;
    justify-content: space-between;
    color: var(--Primary-Grey, #343435);
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
  }

    .dashboard-menu:hover, .my-books:hover {
      color: rgba(64,101,167,255);
      background-color: rgba(233,236,235,255);
      cursor: pointer;
    }

  .round-dashboard {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-left: 13px;
  }

  .dashboard-container {
    height: 24px;
    gap: 8px;
  }

  .my-books {
    display: flex;
    height: 56px;
    padding: 16px 0px 0px 0px;
    gap: 0px;
    justify-content: space-between;
    color: var(--Primary-Grey, #343435);
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .my-books-container {
    height: 24px;
    gap: 8px;
  }

  .arrow {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
  }

  .logout {
    padding: 24px 16px 24px 16px;
    gap: 16px;
    display: flex;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #CC1A07;
    position: absolute;
    bottom: 0;
  }

  .mobile-container {
    display: block;
  }

  .admin-text-mob {
    color: var(--Gray, #565555);
    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.2rem;
    margin-bottom: -0.2rem;
    /* 175% */
  }
  .mobile_search_icon{
      display:block;
      position:absolute;
      right:3.5rem;
      margin-bottom:0.5rem;
  }
}

