<div class="user-list-container " (click)="selectAdmin()">
  
 
    <div class="user-detail ">
      <ngx-avatars name="{{admin.firstName}} {{admin.lastName}}" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>
      <div class="user-name-id ">
        <span class="user-name">{{admin.firstName}} {{admin.lastName}}</span>
        <!--<span class="user-int">cgi 121</span>-->
      </div>
    </div>
    <!--<div  class="user-role-admin">
      <span>Admin</span>
    </div>
    <div  class="user-role-superadmin">
      <span>Super Admin</span>
    </div>-->
  <!--</button>-->
</div>
