.user-list-container {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.267rem;
  border: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: var(--Primary-White, #FFF);
  width: 19.1875rem;
  height: 3.1875rem;
  cursor: pointer;
}


.icon-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.initial {
  display: flex;
  align-items: center;
  gap: 0.44444rem;
}

.all-activity-log-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.activity-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.group {
  width: 2rem;
  height: 2rem;
  position: relative;
}

.frame {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  position: relative;
  z-index: 1;
}

.behind {
  position: absolute;
  left: 0.38rem;
  z-index: 0;
}

.st {
  /*border: 1px solid black;*/
  border: 1px solid var(--Primary-Blue, #28519E);
  background: #E3F3FC;
}


.selected {
  border: 1px solid var(--Primary-Blue, #28519E);
  background: #E3F3FC;
}

.user-detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
}

.user-name-id {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  height: 2.1875rem;
  justify-content:center;
  align-items:center;
}

.user-name {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 501;
  line-height: normal;
}

.user-int {
  color: var(--Adhoc-text-gray, #6D6D6D);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-role-admin {
  display: flex;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #FFEFC5;
}

  .user-role-admin span {
    color: #73461A;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
  }

.user-role-superadmin {
  display: flex;
  height: 1.75rem;
  padding: 0.4375rem 0.625rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #E8E2FE;
}

  .user-role-superadmin span {
    color: #43327F;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
  }

.st {
  border: 1px solid black;
}
