.dashboard {
overflow: hidden !important;

}

.lib-user-books-container {
  height: 300px;
  margin-top: 16px;
/*  margin-left: 8.5px;*/
  padding: 16px;
  border-radius: 26px;
  background: linear-gradient(92.42deg, #B1DAE4 31.51%, #408394 99.62%);

}

.books-text-container {
  height: 175px;
  margin-top: 29px;
  margin-left: 65.92px;
  gap: 32px;
}

/*.books-heading-text-container {
  width: 678px;
  height: 99px;
  gap: 24px;
}*/

.books-laptop-heading {

  display: block;
  width: 678px;
  height: 59px;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  color: #002C3F;
  text-transform: uppercase;
}

.books-mobile-heading {
  display: none;
}

.sub-heading {
  width: 678px;
  height: 66px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #002C3F;
}

.explore-button {
  width: 156px;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 30px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: var(--Primary-Blue, #28519E);
  border: none;
  cursor: pointer;
  outline: none;
}

.explore-button-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  color: white;
}

.books-stack-container {
  height: 86px;
  margin-left: 853.2px;
  padding: 0px 0px 0.28px 0px;
  margin-top: -12.9rem;
}

.books-and-leaderboard{
   /* display: flex;*/
   padding-right: 2rem !important;
}

.all-lib-books {
  height: 403px;
  width: 750px;
  /*  height: 100%;*/
/*  background-color: lightblue;*/
  margin-top: 20px;
  margin-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  overflow-y: scroll;
  padding: 0px;
  overflow-x: hidden;
}

  .all-lib-books::-webkit-scrollbar {
    display: none;
  }


.recently-added {
  color: var(--Primary-Grey, #343435);
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 14px;
  width: 712px;
}

.leaderboard {
  width: 464px;

  margin-top: 20px;
}

.leaderboard-stack{
  width: 464px;

  padding: 0px 16px 0px 16px;
  gap: 10px;
  margin-top: 2rem;
}


@media only screen and (max-width: 700px) {
  .lib-user-books-container {
    height: 300px;
    margin-top: 16px;
    padding: 16px;
    border-radius: 16px;
    background: linear-gradient(92.42deg, #B1DAE4 31.51%, #408394 99.62%);
    overflow-x: hidden;
  }
  .dashboard {
      position:relative;
      top:3rem;
  }

  .books-text-container {
    height: 145.91px;
  }

  .books-laptop-heading{
      display: none;
  }

  .books-mobile-heading {
    display: block;
    width: 292.01px;
    height: 61.57px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    margin-left: -3rem;
    color: #002C3F;
    text-transform: uppercase;
  }

  .sub-heading {
    width: 257.98px;
    height: 66px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 490;
    line-height: 28.8px;
    text-align: left;
    color: #002C3F;
    margin-top: 40px;
    margin-left: -3rem;
  }

  .books-stack-container {
   /* height: 285.72px;*/
    margin-top:-11.1rem;
    margin-left: 18px;
    background: url("../../../assets/icons/Rectangle.svg");
    opacity: 0.16;
  }

  .explore-button {
    width: 156px;
    padding: 12px 20px 12px 20px;
    gap: 8px;
    border-radius: 30px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    background: var(--Primary-Blue, #28519E);
    border: none;
    cursor: pointer;
    outline: none;
  }


  .all-lib-books {
    /*  
  height: 403px*/
    width: 300px;
    height: 100%;
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.st{
    border: 1px solid black;
}


.cards {
  flex-direction: column;
  display: flex;
  height: 28rem;
  padding: 0rem 1rem;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  align-self: stretch;
}

.card {
  transition: 0.2s;
  position: relative;
  width: 27rem;
  height: 4.68719rem;
  display: flex;
  padding: 0rem 1rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.card-content {
  display: flex;
  padding-left: 1rem;
  align-items: center;
  gap: 1.5rem;
  flex: 1 0 0;
}

.card-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.50rem;
}

.card-book {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-book img {
  width: 1.25rem;
  height: 0.95281rem;
}

.card-book-span {
  color: #4C4C4C;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-name-span {
  color: var(--Primary-Grey, #343435);
  font-family: Lato;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

  .card:not(:first-child) {
    margin-top: var(--distance);
  }

.card:hover,
.card:focus-within {
  transform: translateY(-0.75rem);
}

.card:hover ~ .card,
.card:focus-within ~ .card {
  transform: translateY(calc(var(--distance) * -0.8));
}

.cards {
  --distance: -2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-1 {
  border-radius: 0.5rem;
  background: var(--Adhoc-Grediant, linear-gradient(113deg, #F9DDA1 19.55%, #FEC62E 64.92%));
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  padding-left: 1.9rem;
}

.card-2 {
  border-radius: 0.5rem;
  background: linear-gradient(113deg, #F2A068 19.55%, #E88A4C 64.92%);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-3 {
  border-radius: 0.5rem;
  background: linear-gradient(113deg, #D4D4D6 19.55%, #B5BEBE 64.92%);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: var(--Adhoc-Info-Blue, #E3F3FC);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-5 {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: var(--Primary-Pure-White, #FFF);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-6 {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: var(--secondary-Light-Blue, #B8DDE1);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-7 {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: var(--Primary-Pure-White, #FFF);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-8 {
  border-radius: 0.5rem;
  background: #EAEEF6;
}

.last-card {
  color: var(--secondary-Grey, #B2B2B3);
  leading-trim: both;
  text-edge: cap;
  font-family: Lato;
  font-size: 3rem;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

@media only screen and (max-width: 426px) {
      
  .cards{
      transform: scale(0.8);
  }
}
