
<div class="dashboard">


  <div class="lib-user-books-container">

    <div class="books-text-container">

      <div class="books-laptop-heading">
        Step Into the world of books!
      </div>

      <div class="books-mobile-heading">
        The Ultimate Guide for Books
      </div>

      <div class="sub-heading">
        Uncertain about your next read? <br>Discover some genuine treasures nestled within our library.
      </div>

      <button type="button" class="explore-button">
        <div class="explore-button-text">Explore Books</div>
      </button>

    </div>


    <div class="books-stack-container">
      <img src="../../../assets/icons/Rectangle.svg" />
    </div>

  </div>

  <div class="books-and-leaderboard col-12">

    <div class="row">


      <div class="all-lib-books col-md-7">
        <p class="recently-added">Recently Added</p>
        <div class="row">

          <div class="col-sm-4">
            <div class="card">
              <img src="../../../assets/icons/Book Card.svg" class="book-card" />
              <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
              <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
              <div class="book-details">
                <div class="tag">AVALIABLE</div>
                <div class="book-title">The Invisible Cloud</div>
                <div class="author-name">Daryl Bishop & Nick Smith</div>
                <div class="rating">
                  <img src="../../../assets/icons/Rating.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <img src="../../../assets/icons/Book Card.svg" class="book-card" />
              <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
              <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
              <div class="book-details">
                <div class="tag">AVALIABLE</div>
                <div class="book-title">The Invisible Cloud</div>
                <div class="author-name">Daryl Bishop & Nick Smith</div>
                <div class="rating">
                  <img src="../../../assets/icons/Rating.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <img src="../../../assets/icons/Book Card.svg" class="book-card" />
              <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
              <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
              <div class="book-details">
                <div class="tag">AVALIABLE</div>
                <div class="book-title">The Invisible Cloud</div>
                <div class="author-name">Daryl Bishop & Nick Smith</div>
                <div class="rating">
                  <img src="../../../assets/icons/Rating.svg" />
                </div>
              </div>
            </div>
          </div>


        </div>
        <p class="recently-added">Most Popular</p>
        <div class="row">

          <div class="col-sm-4">
            <div class="card">
              <img src="../../../assets/icons/Book Card.svg" class="book-card" />
              <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
              <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
              <div class="book-details">
                <div class="tag">AVALIABLE</div>
                <div class="book-title">The Invisible Cloud</div>
                <div class="author-name">Daryl Bishop & Nick Smith</div>
                <div class="rating">
                  <img src="../../../assets/icons/Rating.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <img src="../../../assets/icons/Book Card.svg" class="book-card" />
              <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
              <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
              <div class="book-details">
                <div class="tag">AVALIABLE</div>
                <div class="book-title">The Invisible Cloud</div>
                <div class="author-name">Daryl Bishop & Nick Smith</div>
                <div class="rating">
                  <img src="../../../assets/icons/Rating.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <img src="../../../assets/icons/Book Card.svg" class="book-card" />
              <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
              <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
              <div class="book-details">
                <div class="tag">AVALIABLE</div>
                <div class="book-title">The Invisible Cloud</div>
                <div class="author-name">Daryl Bishop & Nick Smith</div>
                <div class="rating">
                  <img src="../../../assets/icons/Rating.svg" />
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="col-md-3">
        <div class="leaderboard">
          <p class="recently-added">Leaderboard</p>
          <div class="leaderboard-stack">
            <div class="stack">
              <div class="stack-1">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/1.svg" />
                  <div class="stack-name">Cameron Williamson</div>
                  <img src="../../../assets/icons/trophy 1.svg"  class="trophy"/>
                </div>
              </div>
              <div class="stack-2">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/2.svg" />
                  <div class="stack-name">Darlene Robertson</div>
                  <img src="../../../assets/icons/trophy 2.svg" class="trophy" />
                </div>
              </div>
              <div class="stack-3">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/3.svg" />
                  <div class="stack-name">Savannah Nguyen</div>
                  <img src="../../../assets/icons/trophy 2.svg" class="trophy" />
                </div>
              </div>
              <div class="stack-4">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/4.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-5">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/5.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-6">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/6.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-7">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/7.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-8">
                <div class="top-7-readers">
                  Top 7 Readers
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


  <!--<div class="col-md-3">
    <div class="card" style="background-color: blue;">
      <div class="card-body">
        <h5 class="card-title">Leaderboard</h5>-->
        <!-- Leaderboard content here -->
      <!--</div>
    </div>
    <div class="card" style="background-color: yellow;position: relative;top: -2rem;">
      <div class="card-body">
        <h5 class="card-title">Leaderboard</h5>-->
        <!-- Leaderboard content here -->
      <!--</div>
    </div>
    <div class="card" style="background-color: green;position: relative;top: -4rem;">
      <div class="card-body">
        <h5 class="card-title">Leaderboard</h5>-->
        <!-- Leaderboard content here -->
      <!--</div>
    </div>
    <div class="card" style="background-color: purple;position: relative;top: -6rem;">
      <div class="card-body">
        <h5 class="card-title">Leaderboard</h5>-->
        <!-- Leaderboard content here -->
      <!--</div>
    </div>
  </div>-->

</div>











