.dashboard {
overflow: hidden !important;

}

.lib-user-books-container {
  height: 300px;
  margin-top: 16px;
  padding: 16px;
  border-radius: 26px;
  background: linear-gradient(92.42deg, #B1DAE4 31.51%, #408394 99.62%);
}

.books-text-container {
  height: 175px;
  margin-top: 29px;
  margin-left: 65.92px;
  gap: 32px;
}

/*.books-heading-text-container {
  width: 678px;
  height: 99px;
  gap: 24px;
}*/

.books-laptop-heading {
  width: 678px;
  height: 59px;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  color: #002C3F;
  text-transform: uppercase;
}

.sub-heading {
  width: 678px;
  height: 66px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #002C3F;
}

.explore-button {
  width: 156px;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 30px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: var(--Primary-Blue, #28519E);
  border: none;
  cursor: pointer;
  outline: none;
}

.explore-button-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  color: white;
}


.books-stack-container {
    /*YAHA PE IMAGE KO CHANGE KARNa hai display end*/
  margin-left: 853.2px; 
  padding: 0px 0px 0.28px 0px;
  margin-top: -12.9rem;
  width: 308px;
  height: 285.72px;
}

.books-and-leaderboard{
   /* display: flex;*/
   padding-right: 2rem !important;
}

.all-lib-books {
  height: 403px;
  width: 750px;
  /*  height: 100%;*/
/*  background-color: lightblue;*/
  margin-top: 20px;
  margin-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  overflow-y: scroll;
  padding: 0px;
  overflow-x: hidden;
}

  .all-lib-books::-webkit-scrollbar {
    display: none;
  }


.recently-added {
  color: var(--Primary-Grey, #343435);
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 14px;
  width: 712px;
}

.leaderboard {
  width: 464px;

  margin-top: 20px;
}

.leaderboard-stack{
  width: 464px;

  padding: 0px 16px 0px 16px;
  gap: 10px;
  margin-top: 2rem;
}

.stack {
  width: 432px;
  height: 368px;
  display:flex;
  flex-direction:column;
}

.stack-1 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: linear-gradient(113.04deg, #F9DDA1 19.55%, #FEC62E 64.92%);
  /* position: absolute;*/
}

/*.stack-4:hover {
  cursor: pointer;
  position: absolute;
  top: -2rem;
  
  margin-bottom: -10rem;
}
*/
.stack-position-name {
  width: 368.72px;
  height: 47.25px;
  padding: 0px 0px 0px 8px;
  display: flex;
  gap: 24px;
}

.stack-position {
  width: 27px;
  /*height: 62px;*/
  gap: 0px;
  opacity: 0.42;
}

.stack-name {
  width: 202px;
  height: 16px;
  gap: 16px;
  font-family: Lato;
  font-size: 19px;
  font-weight: 600;
  line-height: 46.4px;
  text-align: left;
}

.trophy {
  width: 31.28px;

  margin-left: 46px;
  opacity: 0.73;
  transform: rotate(-180 deg);
}

.top-7-readers {
  font-family: Lato;
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  line-height: 57.6px;
  text-align: left;
  color: #B2B2B3;
}

.stack-2 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: linear-gradient(113.04deg, #F2A068 19.55%, #E88A4C 64.92%);
/*  position: absolute;
  margin-top: 35.75px;*/
   margin-top: -29px;
}

/*.stack-3 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: linear-gradient(113.04deg, #D4D4D6 19.55%, #B5BEBE 64.92%);
  margin-top: 76.74px;
  position: absolute;
}*/
.stack-3 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: linear-gradient(113.04deg, #D4D4D6 19.55%, #B5BEBE 64.92%);
  /*margin-top: 76.74px;*/
  /* position: absolute;*/
  margin-top: -14px;
}


.stack-4 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: #E3F3FC;
  /*margin-top: 118.59px;*/
  /* position: absolute;*/
  margin-top: -14px;
}

.stack-5 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: #FFFFFF;
  /*margin-top: 162.2px;*/
  /* position: absolute;*/
  margin-top: -14px;
}

.stack-6 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: #B8DDE1;
  /*margin-top: 205.8px;*/
  /* position: absolute;*/
  margin-top: -14px;
}

.stack-7 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: #FFFFFF;
  /*margin-top: 249.41px;*/
  /* position: absolute;*/
  margin-top: -14px;
}

.stack-8 {
  width: 432px;
  height: 75px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
  border-radius: 8px;
  background: #EAEEF6;
  /*margin-top: 293.01px;*/
  /* position: absolute;*/
}

.stack-1:hover {
  cursor: pointer;
  margin-bottom: 3.78rem;
}

.stack-2:hover {
  cursor: pointer;
  margin-bottom: 3.78rem;
}

.stack-3:hover {
  cursor: pointer;
  margin-bottom: 1.78rem;
}

.stack-4:hover {
  cursor: pointer;
  margin-bottom: 1.78rem;
}

.stack-5:hover {
  cursor: pointer;
  margin-bottom: 1.78rem;
}

.stack-6:hover {
  cursor: pointer;
  margin-bottom: 1.78rem;
}

.stack-7:hover {
  cursor: pointer;
  margin-bottom: 1.78rem;
}

@media only screen and (max-width: 526px) {
  .lib-user-books-container {
    margin-top: 25px;
    border-radius: 16px;
    background: linear-gradient(100.31deg, #DFEEF1 87.97%, #105465 162.07%);
    overflow-x: hidden;
  }

  .dashboard {
    position: relative;
    top: 3rem;
  }

  .books-text-container {
    height: 145.91px;
    margin-left: 75.92px;
  }

  .books-laptop-heading {
    display: flex;
    align-items: center;
    color: var(--Primary-Royal-Blue, #002C3F);
    font-family: Lato;
    font-size: 1.695rem;
    padding-left: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    width: 285px;
    height: 58px;
    margin-left: -4.5rem;
  }


  .sub-heading {
    width: 270px;
    height: 62px;
    font-family: Lato;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    font-family: Lato;
    margin-top: 20px;
    color: #002C3F;
    margin-left: -3.5rem;
  }

  .books-stack-container {
    /* height: 285.72px;*/

    margin-left: 10px;
    background: url("../../../assets/icons/Rectangle.svg");
    opacity: 0.16;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -11.1rem;
  }

  .explore-button {
    width: 301px;
    height: 42px;
    padding: 12px 20px 12px 20px;
    gap: 8px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    background: var(--Primary-Blue, #28519E);
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: -4.1rem;
  }


  .all-lib-books {
    height: 100%;
    margin-top: 10px;
    margin-left: 20.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    overflow-y: hidden;
    padding-left: 12px;
  }

  .row {
      margin-left: -35px;
  }

  .leaderboard {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 330px) {
  .explore-button {
    width: 250px;
    height: 42px;
    padding: 12px 20px 12px 20px;
    gap: 8px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    background: var(--Primary-Blue, #28519E);
    border: none;
    cursor: pointer;
    outline: none;
  }

  .books-stack-container {
    margin-left: -18.5px;
    opacity: 0.16;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -11.1rem;
  }

  .books-text-container {
    height: 145.91px;
    margin-left: 65.92px;
  }
}
