<div class="outer-margin">


  <div class="dashboard">


    <div class="container-fluid">
      <div class="lib-user-books-container col-md-12">

        <div class="books-text-container">

          <div class="books-laptop-heading">
            Step Into the world of books!
          </div>

          <div class="sub-heading">
            Uncertain about your next read? Discover some genuine<br /> treasures nestled within our library.
          </div>

          <button type="button" class="explore-button">
            <div class="explore-button-text">Explore Books</div>
          </button>

        </div>

        <div class="image-container">
          <img src="../../../assets/icons/Rectangle.svg" class="books-stack-container" />
        </div>

      </div>

    </div>

    <div class="books-and-leaderboard col-md-12">

      <div class="row">

        <div class="all-lib-books col-md-7">

          <p class="recently-added">Recently Added</p>
          <div class="row">

            <div class="col-md-4 col-6" *ngFor="let book of booksToRecentDisplay">
              <app-books-card-shared [books]="book"></app-books-card-shared>
            </div>

          </div>

          <button type="button" *ngIf="showMoreButtonVisibleRecentlyAdded" class="show-more" (click)="onShowMoreClicked('recentlyAdded')">
            <div class="show-more-text">
              {{ showMoreClickedRecentlyAdded ? 'Show Less' : 'Show More' }}
              <img *ngIf="!showMoreClickedRecentlyAdded" src="../../../assets/icons/expand_more.svg" />
              <img *ngIf="showMoreClickedRecentlyAdded" src="../../../assets/icons/collapse.svg" />
            </div>
          </button>

          <p class="recently-added">Most Popular</p>
          <div class="row">
            <div class="col-md-4 col-6" *ngFor="let book of booksToPopularDisplay">
              <app-books-card-shared [books]="book"></app-books-card-shared>
            </div>
            
          </div>


            <button type="button" *ngIf="showMoreButtonVisibleMostPopular" class="show-more" (click)="onShowMoreClicked('mostPopular')">
              <div class="show-more-text">
                {{ showMoreClickedMostPopular ? 'Show Less' : 'Show More' }}
                <img *ngIf="!showMoreClickedMostPopular" src="../../../assets/icons/expand_more.svg" />
                <img *ngIf="showMoreClickedMostPopular" src="../../../assets/icons/collapse.svg" />
              </div>
            </button>

          </div>



          <div class="col-md-3">
            <div class="leaderboard">
              <p class="leaderboard-heading">Leaderboard</p>
              <div class="leaderboard-stack">
                <div class="cards">
                  <div class="card card-1">
                    <div class="card-content">
                      <img src="../../../assets/icons/1.svg" />
                      <div class="card-name">
                        <span class="card-name-span">Cameron Williamson</span>
                        <div class="card-book">
                          <img src="../../../assets/icons/card-book.svg" />
                          <span class="card-book-span">10 Books</span>
                        </div>
                      </div>
                    </div>
                    <img src="../../../assets/icons/trophy 1.svg" class="trophy" />
                  </div>
                  <div class="card card-2">
                    <div class="card-content">
                      <img src="../../../assets/icons/2.svg" />
                      <div class="card-name">
                        <span class="card-name-span">Cameron Williamson</span>
                        <div class="card-book">
                          <img src="../../../assets/icons/card-book.svg" />
                          <span class="card-book-span">10 Books</span>
                        </div>
                      </div>
                    </div>
                    <img src="../../../assets/icons/trophy 1.svg" class="trophy" />
                  </div>
                  <div class="card card-3">
                    <div class="card-content">
                      <img src="../../../assets/icons/3.svg" />
                      <div class="card-name">
                        <span class="card-name-span">Cameron Williamson</span>
                        <div class="card-book">
                          <img src="../../../assets/icons/card-book.svg" />
                          <span class="card-book-span">10 Books</span>
                        </div>
                      </div>
                    </div>
                    <img src="../../../assets/icons/trophy 1.svg" class="trophy" />
                  </div>
                  <div class="card card-4">
                    <div class="card-content">
                      <img src="../../../assets/icons/4.svg" />
                      <div class="card-name">
                        <span class="card-name-span">Cameron Williamson</span>
                        <div class="card-book">
                          <img src="../../../assets/icons/card-book.svg" />
                          <span class="card-book-span">10 Books</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-5">
                    <div class="card-content">
                      <img src="../../../assets/icons/5.svg" />
                      <div class="card-name">
                        <span class="card-name-span">Cameron Williamson</span>
                        <div class="card-book">
                          <img src="../../../assets/icons/card-book.svg" />
                          <span class="card-book-span">10 Books</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-6">
                    <div class="card-content">
                      <img src="../../../assets/icons/6.svg" />
                      <div class="card-name">
                        <span class="card-name-span">Cameron Williamson</span>
                        <div class="card-book">
                          <img src="../../../assets/icons/card-book.svg" />
                          <span class="card-book-span">10 Books</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-7">
                    <div class="card-content">
                      <img src="../../../assets/icons/7.svg" />
                      <div class="card-name">
                        <span class="card-name-span">Cameron Williamson</span>
                        <div class="card-book">
                          <img src="../../../assets/icons/card-book.svg" />
                          <span class="card-book-span">10 Books</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-8">
                    <div class="card-content">
                      <div class="card-name">
                        <span class="last-card">Top 7 Readers</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        </div>


  </div>
</div>












