<div class="dashboard">


  <div class="container-fluid">
      <div class="lib-user-books-container col-12">

        <div class="books-text-container">

          <div class="books-laptop-heading">
            Step Into the world of books!
          </div>

          <div class="books-mobile-heading">
            The Ultimate Guide for Books
          </div>

          <div class="sub-heading">
            Uncertain about your next read? Discover some genuine<br /> treasures nestled within our library.
          </div>

          <button type="button" class="explore-button">
            <div class="explore-button-text">Explore Books</div>
          </button>

        </div>


        <div class="books-stack-container">
          <img src="../../../assets/icons/Rectangle.svg" />
        </div>

      </div>
  </div>

  <div class="books-and-leaderboard col-12">

    <div class="row">

      <app-book-cards></app-book-cards>

      <div class="col-md-3">
        <div class="leaderboard">
          <p class="recently-added">Leaderboard</p>
          <div class="leaderboard-stack">
            <div class="stack">
              <div class="stack-1">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/1.svg" />
                  <div class="stack-name">Cameron Williamson</div>
                  <img src="../../../assets/icons/trophy 1.svg" class="trophy" />
                </div>
              </div>
              <div class="stack-2">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/2.svg" />
                  <div class="stack-name">Darlene Robertson</div>
                  <img src="../../../assets/icons/trophy 2.svg" class="trophy" />
                </div>
              </div>
              <div class="stack-3">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/3.svg" />
                  <div class="stack-name">Savannah Nguyen</div>
                  <img src="../../../assets/icons/trophy 2.svg" class="trophy" />
                </div>
              </div>
              <div class="stack-4">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/4.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-5">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/5.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-6">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/6.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-7">
                <div class="stack-position-name">
                  <img class="stack-position" src="../../../assets/icons/7.svg" />
                  <div class="stack-name">Ralph Edwards</div>
                </div>
              </div>
              <div class="stack-8">
                <div class="top-7-readers">
                  Top 7 Readers
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>











