<app-success-modal (doneClicked)="onDoneClicked()"></app-success-modal>
<app-success-add-book  (doneClicked)="onDoneClicked()"></app-success-add-book>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-custom outer-width" role="document">
    <div class="modal-content modal-height">
      <div class="modal-header header-padding">
        <div class="add-book-header">
          <div class="book-image" >
            <img src="../../../assets/icons/add-books-modal/Book 1.svg" />
          </div>
          <div>
            <h5 class="modal-title add-book-title" id="exampleModalLongTitle">Add New Book</h5>
          </div>
        </div>
        <div (click)="Reset()" class="cross">
          <img src="../../../assets/icons/add-books-modal/X.svg" data-dismiss="modal" />
        </div>


      </div>
      <div class="modal-body ">
        <!--<form [formGroup]="bookForm">-->
        <div class="content-box">
          <div class="row stepper-header">
            <div class="col-md-8 stepper-elements">

              <img *ngIf="stepperIndex==0" src="../../../assets/icons/add-books-modal/Book-Blue.svg" />
              <img *ngIf="stepperIndex==1" src="../../../assets/icons/add-books-modal/Add-Details_Green.svg" />
              <img src="../../../assets/icons/add-books-modal/Vector-Grey.svg" />
              <img *ngIf="stepperIndex==0" src="../../../assets/icons/add-books-modal/Scan-Book.svg" />
              <img *ngIf="stepperIndex==1" src="../../../assets/icons/add-books-modal/ScanBook-Blue.svg" />
            </div>
          </div>

          <app-add-book-common [stepperIndex]="stepperIndex" [qrList]="qrList"></app-add-book-common>
        </div>
        <!--</form>-->
      </div>
      <div class="modal-footer add-book-footer">
        <div class="right-button">
          <div *ngIf="stepperIndex==0" class="cancel-btn" data-dismiss="modal" aria-label="Close" (click)="Reset()">
            <div class="cancel-text">
              Cancel
            </div>
          </div>

          <div *ngIf="stepperIndex==1" class="cancel-btn" (click)="stepperDecrement()" aria-label="Previous">
            <div class="cancel-text">
              Previous
            </div>
          </div>
        </div>
        <div class="right-button-left">
          <div *ngIf="stepperIndex==1" class="cancel-btn" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close" (click)="Cancel()">
            <div class="cancel-text">
              Cancel
            </div>
          </div>

          <div *ngIf="stepperIndex==0" class="next-button" (click)="stepperIncrement()"
               [ngClass]="{'empty-qrCodes': qrArr.length == 0 || addBook.bookName === ''}" 
               >
            <div class="next-text">
              Next
            </div>
          </div>
          <div *ngIf="stepperIndex==1" class="next-button" data-dismiss="modal" data-toggle="modal" (click)="addBookRequest()"
               [ngClass]="{'empty-qrCodes': isAnyQrValueEmpty()}"
               >
            <div class="next-text">
              Add
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>


