.add-book-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.add-book-title {
  color: var(--Primary-Grey, #343435);
  /* leading-trim: both;
  text-edge: cap;*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Literata;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 9.52775rem;
  flex-shrink: 0form-field
}

.book-image{
    display:flex;
  
}

.header-padding {
  border: none;
}

.add-book-footer {
  /*border: none;*/
  margin: 0rem 1.1rem;
  display: flex;
  justify-content: space-between;
}

.stepper-header {
  border-radius: 0.267rem;
  border: 1.068px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: #FAFAFA;
  display: flex;
  padding: 1rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.add-details{
    width:3rem;
}

.modal-height {
/*  width: 249.5rem;
*/  height: 40rem;
}

#exampleModalCenterTitle{
    width: 55rem;
}

.outer-width {
  max-width: 39.5rem;
  height: 40rem;
  padding: 1.5rem;
}

.modal-dialog-custom {
  margin-top: 1rem;
}

.stepper-elements{
    display:flex;
    justify-content:space-between;
}

.header-padding {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding-bottom: 0rem;
}


.content-box{
    gap:1rem;
}

.content {
  margin-top: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  max-height: 23rem;
  overflow-x: hidden;
  overflow-y:auto;
}

.text-book-name {
  color: var(--Primary-Grey, #343435);
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.input-group {
    margin-top:0.4rem;
  border: 1.068px solid var(--Secondary-Light-Gray, #E9ECEB);
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-append img {
  margin-left: 5px;
  cursor: pointer;
}

.search-input{
    max-width:29rem;
    border:none;
}

.alert-box {
  border-radius: 0.25rem;
  background: #FFE8E8;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.alert-text {
  color: #CC1A07;
  font-family: Lato;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; 
}

.alert-img{
    display:flex;
    align-items:center;

}

.author{
    padding-top:1rem;
}


.author-input {
  margin-top: 0.5rem;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: rgba(233, 236, 235, 0.30);
}


.author-input-description {
  margin-top: 0.5rem;
  min-height: 6.9rem;
  height: auto;
}

.book-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dummy-book-outer {
  width: 6.25rem;
  height: 9.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--secondary-Light-Grey, #E9ECEB);
}

.no-preview {
  color: var(--Adhoc-Text-Grey, #6D6D6D);
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 1rem;
  
}

.dummy-img {
  padding-top: 3.3rem;
  padding-left: 2.5rem;
  margin-bottom: 0.3rem;
}

.cap-button {
  border-radius: 2.75rem;
  background: var(--Primary-Blue, #28519E);
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cap-text {
  color: var(--Primary-Pure-White, #FFF);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cancel-btn {
  border-radius: 2rem;
  border: 1px solid #28519E;
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cancel-text {
  color: var(--Primary-Blue, #28519E);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.next-button {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  background: var(--Primary-Blue, #28519E);
  margin-left:1rem;
}

.next-text {
  color: #FFF;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.content-2 {
  margin-top: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  max-height: 23rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.scan {
  display: flex;
  padding: 0.5rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: #FFF;
}

.qr-card {
  display: flex;
  justify-content:space-between;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: var(--Primary-Pure-White, #FFF);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.scan-qr {
  display: flex;
  width: 12.03125rem;
  align-items: center;
  gap: 1rem;
}

.scan-qr-holder {
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 0.35rem;
  background: var(--Adhoc-Info-Blue, #E3F3FC);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-1 {
  position: relative;
}

.img-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scan-text-outer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.scan-book-text {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.scan-book-text-subheading {
  color: var(--Adhoc-Text-Grey, #6D6D6D);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scan-qr-buttons{
    display:flex;
    justify-content:space-between;
}

.rescan {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.6875rem;
  border: 1px solid #28519E;
}

.rescan-text {
  color: var(--Primary-Blue, #28519E);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delete {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  background: var(--Adhoc-Red, #CC1A07);
  margin-left:1rem;
}

.delete-text {
  color: #FFF;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.add-another-outer{
    display:flex;
    margin-top:1rem;
    max-width:10rem;
    justify-content:space-between;
    align-items: center;
}

.add-another-outer-img {
    display:flex;
    align-items:center;
  width: 0.75rem;
  height: 0.75rem;
/*  flex-shrink: 0;
*/  stroke-width: 1.5px;
  stroke: var(--Primary-Blue, #28519E);
}

.add-another-outer-text {
  color: var(--Primary-Blue, #28519E);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.right-button-left{
    display:flex;
    justify-content:space-between;
    max-width:25rem;
}


.quantity-select label, .warranty label {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quantity-counter {
  display: flex;
  width: 8.625rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  border-top: 1px solid var(--Primary-Blue, #28519E);
  border-bottom: 1px solid var(--Primary-Blue, #28519E);
  background: #FFF;
  height: 2.52rem;
  margin-bottom: 1.25rem;
}

.reduce-button img {
  height: 2.6rem;
  fill: var(--Primary-White, #FFF);
  stroke-width: 1px;
  border-top: none !important;
  border-bottom: none;
  stroke: var(--Primary-Blue, #28519E);
}

.add-button img {
  height: 2.6rem;
  fill: var(--Primary-White, #FFF);
  stroke-width: 1px;
  border-top: none !important;
  border-bottom: none;
  stroke: var(--Primary-Blue, #28519E);
}

.counter-value {
  border: none;
  outline: none;
  text-align: center;
  width: 2rem;
}

.search-input:focus {
  background-color: transparent;
  border: 0px ;
  box-shadow: none;
}


/*.author-input {*/
  /*color: var(--secondary-Grey, #B2B2B3);*/
  /*font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}*/

.author-input-description {
  border-radius: 0.25rem;
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  background: rgba(233, 236, 235, 0.30);
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 6.625rem;
  flex: 1 0 0;
  align-self: stretch;
  font-weight: 400;
}

textarea {
  resize: none;
  background-color: red;
  /*rgba(233, 236, 235, 0.30);*/
}


/*..ng-select.ng-select-single .ng-select-container {
  height: 30px;
  width: 20px;
}
::ng-deep .ng-select-container { 
    min-height:30rem;
}*/

/*::ng-deep .ng-select {
  width: 310px !important;*/ /* Set the desired width */
/*}*/

/* Optional: Adjust styles for the dropdown arrow */
/*::ng-deep .ng-select-container .ng-arrow-wrapper::after {
  font-size: 1.2em;*/ /* Adjust the size of the arrow */
  /*width: 310px !important;
}*/

.input-group .ng-select .ng-select-container, .input-group .ng-select .ng-select-single .ng-select-container {
  margin-top: -0.45rem;
  min-height: 2.5rem;
  width: 29rem !important;
  margin-left: -0.76rem;
  border-top: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  border-bottom: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  border-right: none;
  outline: none;
  box-shadow: none;
}


  .input-group .ng-select .ng-select-container, .input-group .ng-select .ng-select-single .ng-select-container:focus {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    outline: none;
  }

::ng-deep .ng-select .ng-select-container, ::ng-deep .ng-select.ng-select-single .ng-select-container:hover {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  outline: none !important;
  border:none;
}
  ::ng-deep .ng-select .ng-select-container, ::ng-deep .ng-select.ng-select-single  {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    outline: none !important;
    border-color:transparent;
  }


/*.ng-dropdown-panel.ng-select-bottom{
    min-width: 33.7rem;
}*/

.input-group .ng-select .ng-dropdown-panel .ng-select-bottom {
  top: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-color: #e6e6e6;
  margin-top: -1px;
  border: 5px solid black;
}

/*::ng-deep .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  padding-bottom: 0rem;
}*/

::ng-deep .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding-bottom: 0rem;
}

.dropdown {
  top: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-color: #e6e6e6;
  margin-top: -1px;
  border: 5px solid black;
}


.title {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-outer{
    margin-top:-0.8rem;
}

.single-drop {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  width: 18.375rem;
  height: 3.375rem;
  align-items: center;
  gap: 0.625rem;
}

.author-inner {
  margin-top:0.2rem;
  color: var(--Primary-Grey, #343435);
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.single-img {
  display: flex;
  width: 2.25rem;
  height: 3.47725rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top:-0.5rem;
}

::ng-deep .ng-select .ng-dropdown-panel {
  margin-top: 0.7rem;
  margin-left: -0.07rem;
  width: 33.7rem !important;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
}

::ng-deep .ng-select .ng-dropdown-panel:hover {
  background: white;
}

.line-break {
  border: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: var(--Primary-White, #FFF);
  width: 36.5rem;
  height: 0.0625rem;
  background: #E9ECEB;
}


.empty-qrCodes {
  pointer-events: none;
  opacity: 0.5;
}
