.add-book-title-mobile {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.add-book-title-mobile-text {
  color: var(--Primary-Grey, #343435);
  leading-trim: both;
  text-edge: cap;
  font-family: Literata;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content-box {
  gap: 1rem;
/*  margin-left: 1rem;
*/  margin-top:-1.5rem;
/*  height:100rem;
*/  overflow-x:hidden;
}

.stepper-header {
  display: flex;
  /*width: 27rem;*/
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: -1rem;
  border-bottom: 2px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: #FFF;
  /* Drop Shadow */
  box-shadow: 0px 4px 10px 0px rgba(66, 76, 97, 0.15);
}

.stepper-elements{
    display:flex;
    justify-content:space-evenly;
    /*margin-left:-1rem;*/
}

.add-book-title-mobile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
  cursor: pointer;
}

.common-component {
  margin-left: 0.5rem;
  /*width: 24rem;*/
  margin-right: 0.5rem;
}

.footer-mobile {
  display: flex;
/*  width: 23rem;
*/  justify-content: flex-end;
  align-items: flex-start;
  /*margin-left: -1rem;*/
  gap: 1rem;
  border-top: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: #FFF;

  position: fixed;
  bottom: 0;
  width: 100%;
}

.next-button-mobile {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 1.875rem;
  background: var(--Primary-Blue, #28519E);
}

.next-button-mobile-text {
  color: #FFF;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.previous-button-mobile-text {
  display: flex;
  height: 2.75rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 2.6875rem;
  border: 1px solid #28519E;
  color: var(--Primary-Blue, #28519E);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.add-button-mobile-text {
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 1.875rem;
  background: var(--Primary-Blue, #28519E);
  color: #FFF;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.save-set-button {
  cursor: pointer;
  display: flex;
  display: flex;
  width: 23.4375rem;
  padding: 1rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}
