
<div id="faq">
  <div class="card ">
    <div class="card-header" [id]="'faqhead' + index">
      <div class="btn btn-header-link" data-toggle="collapse" [attr.data-target]="'#faq' + index" aria-expanded="true" [attr.aria-controls]="'faq' + index" (click)="toggle()">
        <ngx-avatars *ngIf="adminMobile && adminMobile.firstName && adminMobile.lastName" name="{{adminMobile.firstName}} {{adminMobile.lastName}}" [textSizeRatio]=2.7 bgColor=#B8DDE1 fgColor=#002C3F [round]="true" size="35" [style.fontWeight]="'601'" [style.fontSize]="'0.0.875rem'" [style.color]="'#002C3F'"></ngx-avatars>
        <ngx-avatars *ngIf="adminMobile && adminMobile.firstName && adminMobile.lastName && (adminMobile.lastName==null||adminMobile.lastName==undefined)" name="{{adminMobile.firstName}}" [textSizeRatio]=2.7 bgColor=#B8DDE1 fgColor=#002C3F [round]="true" size="35" [style.fontWeight]="'601'" [style.fontSize]="'0.0.875rem'" [style.color]="'#002C3F'"></ngx-avatars>


        <span *ngIf="adminMobile && adminMobile.firstName && adminMobile.lastName" class="name_card">{{adminMobile.firstName}} {{adminMobile.lastName}}</span>
        <span *ngIf="adminMobile && adminMobile.firstName && (adminMobile.lastName==null||adminMobile.lastName==undefined)" class="name_card">{{adminMobile.firstName}}</span>
        <span class="image_toggle">
          <img *ngIf="showBody==false" src="../../../assets/icons/Access-control-mobile/arrow-icon.svg" data-toggle="collapse" [attr.data-target]="'#faq' + index" />
          <img *ngIf="showBody==true" src="../../../assets/icons/Access-control-mobile/arrow iconrotated.svg" data-toggle="collapse" [attr.data-target]="'#faq' + index" />
        </span>
      </div>
    </div>

    <div [id]="'faq' + index" class="collapse" [attr.aria-labelledby]="'faqhead' + index">
      <div class="card-body">

        <div class="status-toggle">
          <span>Status</span>
          <!--Status-->
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isToggleChecked" (change)="changes()" data-toggle="modal" data-target="#revokeRoleModal">
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="permissions-panel-body ">
        <div class="permission-card ">
          <div class="permission-details">
            <span class="permission-title">Add books</span>
            <span class="permission-description">A person has the authority to add books in inventory.</span>
          </div>


        </div>
      </div>
      <div class="permissions-panel-body ">
        <div class="permission-card">
          <div class="permission-details">
            <span class="permission-title">Issue Books</span>
            <span class="permission-description">A person has the authority to assign books to users.</span>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
