.heading-items {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  color: var(--Primary-Grey, #343435);
  leading-trim: both;
  text-edge: cap;
  font-family: Literata;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin:0rem;
}
p{
    margin-top:1rem;
}
.page-heading-img {
  margin: 1.2rem 0.4rem 0.8rem 1rem;
}
