<!--<div class="content-box">
  <div class="row stepper-header">
    <div class="col-md-8 stepper-elements">

      <img *ngIf="stepperIndex==0" src="../../../assets/icons/add-books-modal/Book-Blue.svg" />
      <img *ngIf="stepperIndex==1" src="../../../assets/icons/add-books-modal/Add-Details_Green.svg" />
      <img src="../../../assets/icons/add-books-modal/Vector-Grey.svg" />
      <img *ngIf="stepperIndex==0" src="../../../assets/icons/add-books-modal/Scan-Book.svg" />
      <img *ngIf="stepperIndex==1" src="../../../assets/icons/add-books-modal/ScanBook-Blue.svg" />
    </div>
  </div>-->
<!--<app-scanner></app-scanner>-->
  <app-capture (getPicture)="getPicture($event)"></app-capture>
  <div *ngIf="stepperIndex==0" class="content">
    <div class="stack">
      <div class="form-field">
        <div class="text-book-name">Book Name</div>
      </div>
      <div>
        <div class="input-group">
          <!--<input type="text" class="form-control search-input" (input)="getBooks($event)">-->
          <ng-select [(ngModel)]="selectedBook" class="form-control search-input ngselect" (search)="getBooks($event,'key')" (click)="testing($event)" (keydown.enter)="testing($event)">
            <!--<input type="text" class="form-control search-input" (input)="getBooks($event)">-->
            <ng-option *ngFor="let car of listOfBooks" [value]="car" class="dropdown">
              <div>
                <div class="single-drop">
                  <div *ngIf="car && car.volumeInfo && car.volumeInfo.imageLinks && car.volumeInfo.imageLinks.smallThumbnail" class="single-img">
                    <img src="{{car.volumeInfo.imageLinks.smallThumbnail}}" width="36px" height="55.636px" />
                  </div>

                  <div class="text-outer">
                    <div class="title">
                      {{car.volumeInfo.title}}
                    </div>
                    <div class="author-inner">
                      {{car.volumeInfo.authors}}
                    </div>

                  </div>
                </div>
                <div class="line-break"></div>
              </div>

            </ng-option>

          </ng-select>

          <div class="input-group-append">
            <img src="../../../assets/icons/add-books-modal/Mic.svg" alt="Icon 1" (click)="startListening()">
            <img src="../../../assets/icons/add-books-modal/Search.svg" alt="Icon 2">
          </div>
        </div>
        <div class="alert-box">
          <div class="alert-img">
            <img src="../../../assets/icons/add-books-modal/alert.svg" />
          </div>
          <div>
            <div class="alert-text">
              This book already exists in the inventory, you can simply add the new copies.
            </div>
          </div>
        </div>

        <div class="row author">
          <div class="col-md-7 author-section">
            <div class="text-book-name">Author</div>
            <div>
              <input type="text" class="form-control author-input" placeholder="Enter Author Name" [(ngModel)]="bookForm.value.authorName" disabled="disabled">
            </div>
            <div class="text-book-name author desc">Description</div>
            <div>
              <textarea type="textarea" class="form-control author-input-description" [(ngModel)]="bookForm.value.description" readonly></textarea>
            </div>
          </div>

          <div class="col-md-5 book-section">
            <div *ngIf="bookForm.value.img=='' && captureImg==''" class="dummy-book-outer">
              <div class="dummy-img">
                <img src="../../../assets/icons/add-books-modal/Dummy-Image.svg" />
              </div>
              <div class="no-preview">
                No Preview
              </div>
            </div>

            <img class="dummy-book-outer" *ngIf="bookForm.value.img!='' && captureImg==''" src="{{bookForm.value.img}}" />
            <img class="dummy-book-outer" *ngIf="captureImg!='' && bookForm.value.img==''" src="{{captureImg}}" />

            <div class="cap-button" (click)="openWebcam()">
              <div>
                <img src="../../../assets/icons/add-books-modal/Camera alt.svg" />
              </div>
              <div class="cap-text">
                Capture Image
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div>


      <div class="quantity-select">
        <label for="quantity">Quantity <span class="required">*</span></label>
        <div class="quantity-counter">
          <div class="reduce-button" (click)="decrement(0)"><img src="../../../assets/icons/add-books-modal/reduce-quantity.svg" /></div>
          <input type="number" class="counter-value" [value]="counterValue" [(ngModel)]="counterValue" (change)="changeQty()" />
          <div class="add-button" (click)="increment()"><img src="../../../assets/icons/add-books-modal/add-quantity.svg" /></div>
        </div>
      </div>


    </div>
  </div>
  <div *ngIf="stepperIndex==1" class="content-2">
    <div class="scan">

      <div class="qr-card" *ngFor="let car of qrCodes; let i = index">
        <div class="scan-qr">
          <div class="scan-qr-holder">
            <div class="img-1" *ngIf="car.value ==''">
              <img src="../../../assets/icons/add-books-modal/Vector.svg" />
              <div class="img-2">
                <img src="../../../assets/icons/add-books-modal/Rectangle.svg" (click)="Scanner(i)" />
              </div>
            </div>
            <div class="img-1" *ngIf="car.value != ''">

              <img src="../../../assets/icons/add-books-modal/qr image.svg" />
            </div>
          </div>

        

          <div class="scan-text-outer">
            <div class="scan-book-text">
              {{ 'Book ' + (i+1) }}
            </div>
            <div  *ngIf="car.value != ''" class="scan-book-text-subheading">
              {{car}}
            </div>
          </div>

        </div>

        <div class="scan-qr-buttons">
          <div class="rescan" (click)="Scanner(i)">
            <div class="rescan-text" >rescan</div>
          </div>

          <div class="delete" (click)="decrement(i)">
            <div class="delete-text">delete</div>
          </div>
        </div>

      </div>

      <div class="line-break">

      </div>
    </div>
    <div class="add-another-outer" (click)="increment()">
      <div class="add-another-outer-img">
        <img src="../../../assets/icons/add-books-modal/Plus-Blue.svg" />
      </div>
      <div class="add-another-outer-text">
        Add Another copies
      </div>
    </div>
  </div>
  <!--</div>-->
  <!--<webcam [height]="500"
          [width]="1000"
          [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)"
          *ngIf="showWebcam"
          [switchCamera]="nextWebcamObservable"></webcam>-->
