 <div class="container-fluid">
  <div class="Access-control-heading ">
    <img src="../../../assets/icons/Access-control-mobile/ArrowRight.svg" (click)="routeTODasboard()" />
    <span class="heading-text">My Books</span>
  </div>
  <div class="search-box ">

    <img src="../../../assets/icons/My-books-mobile/search.svg" />
    <input type="text" class="search-text" placeholder="Search your book history" />


  </div>
  <div class="recently-issue">Recently Issued</div>

  <app-my-books-card-mobile></app-my-books-card-mobile>

  <div class="recently-issue">Previously Issued</div>
  <app-my-books-card-mobile></app-my-books-card-mobile>

  <app-my-books-card-mobile></app-my-books-card-mobile>


</div>
 




