 <div class="container-fluid">
  <div class="Access-control-heading ">
    <img src="../../../assets/icons/Access-control-mobile/ArrowRight.svg" (click)="routeTODasboard()" />
    <span class="heading-text">My Books</span>
  </div>
  <div class="search-box ">

    <img src="../../../assets/icons/My-books-mobile/search.svg" />
    <input type="text" class="search-text" placeholder="Search your book history" [(ngModel)]="searchTerm" (input)="searchBook()" />


  </div>


  <div class="recently-issue">Recently Issued</div>
  <div *ngFor="let book of myBooks">
    <div *ngIf="book. returnDate==null">
      <app-my-books-card-mobile [books]="book"></app-my-books-card-mobile>
    </div>
  </div>
  <div class="recently-issue">Previously Issued</div>

  <div *ngFor="let book of myBooks">
    <div *ngIf="book. returnDate!=null">
      <app-my-books-card-mobile [books]="book"></app-my-books-card-mobile>
    </div>
  </div>



</div>





