<div class="modal fade" id="AssignPermissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header ">
    <!--<h5 class="modal-title st" id="exampleModalLongTitle">Modal title</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>-->
    <div class="Assign-permission-text">
      <img src="../../../assets/icons/Access-control-web/Assign recieved grey.svg" />
      <span class="modal-title " id="exampleModalLongTitle">Assign Permissions</span>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>


  </div>
<div class="modal-body ">
    <div class="user-content">
      <div class="user ">
        <span class="user-text ">User</span>

        <ng-select  class=" search-input ngselect ">
          <ng-option   class="dropdown">
          ftvt
          </ng-option>
        </ng-select>

        <div class="permission">
          <span class="user-text ">Permissions</span>
          <div class="add-books ">
            <div class="add-books-text">Add Books</div>
            <div class="permission-add">A person has the authority to add books in inventory.</div>
          </div>
          <div class="add-books">
            <div class="add-books-text">Issue Book</div>
            <div class="permission-add">A person has the authority to assign books to users.</div>
          </div>

        </div>


      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn  close-button" data-dismiss="modal">Cancel</button>
<button type="button" class="btn btn-primary save">Save</button>
</div>
</div>
</div>
</div>
