
  <div class="row"> 

    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/icons/Book Card.svg" class="book-card" />
        <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
        <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
        <div class="book-details">
          <div class="tag">AVALIABLE</div>
          <div class="book-title">The Invisible Cloud</div>
          <div class="author-name">Daryl Bishop & Nick Smith</div>
          <div class="rating">
            <img src="../../../assets/icons/Rating.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/icons/Book Card.svg" class="book-card" />
        <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
        <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
        <div class="book-details">
          <div class="tag">AVALIABLE</div>
          <div class="book-title">The Invisible Cloud</div>
          <div class="author-name">Daryl Bishop & Nick Smith</div>
          <div class="rating">
            <img src="../../../assets/icons/Rating.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/icons/Book Card.svg" class="book-card" />
        <img src="../../../assets/icons/Book - The Invisible Cloud.svg" class="book-image" />
        <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
        <div class="book-details">
          <div class="tag">AVALIABLE</div>
          <div class="book-title">The Invisible Cloud</div>
          <div class="author-name">Daryl Bishop & Nick Smith</div>
          <div class="rating">
            <img src="../../../assets/icons/Rating.svg" />
          </div>
        </div>
      </div>
    </div>


</div>
  
