<div class="modal-content assign-modal-content">
  <div class="modal-header modal-header-custom">
    <div class="Assign-permission-text">
      <img src="../../../assets/icons/Access-control-web/Assign recieved grey.svg" class="usr-icon" />
      <img src="../../../assets/icons/Access-control-mobile/ArrowRight.svg" class="back-button" (click)="GoBack()"/>

      <span class="modal-title modal-title-custom" id="exampleModalLongTitle">Assign Permissions</span>
    </div>
    <button type="button" class="close usr-icon" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>


  </div>
  <div class="modal-body modal-body-custom">
    <div class="user-content">
      <div class="user ">
        <span class="user-text ">User</span>

        <ng-select placeholder="Select User" [(ngModel)]="selectedUser" [searchable]="true" [clearable]="false">
          <ng-option *ngFor="let value of adminList" [value]="value.id">
            <div class="option">
              <ngx-avatars name="{{value.firstName}} {{value.lastName}}" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>
              <div class="name-id">
                <span class="option-name">{{value.firstName}} {{value.lastName}}</span>
                <span class="option-id">{{value.cgiid}}</span>
              </div>
            </div>
          </ng-option>
        </ng-select>

        <div class="permission">
          <span class="user-permission ">Permissions</span>
          <div class="add-books ">
            <div class="add-books-text">Add Books</div>
            <div class="permission-add">A person has the authority to add books in inventory.</div>
          </div>
          <div class="add-books">
            <div class="add-books-text">Issue Book</div>
            <div class="permission-add">A person has the authority to assign books to users.</div>
          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer-custom">
    <button type="button" class="btn  close-button" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn  save" (click)="Save()" data-dismiss="modal">Save</button>
  </div>
</div>
