.mobile-book {
  border-radius: 0.5rem;
  background: var(--Primary-Pure-White, #FFF);
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  width:100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom:1rem;
}


.image-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.book-image {
  box-shadow: 0px 2.078px 10.39px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 5rem;
  height: 7.72725rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-outer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
}

.text-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}


.book-heading {
  align-self: stretch;
  color: var(--Primary-Grey, #343435);
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 501;
  line-height: normal;
}

.author {
  color: var(--Adhoc-Text-Grey, #6D6D6D);
  font-family: Lato;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.issue-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}


.issue {
  color: var(--Adhoc-Text-Grey, #6D6D6D);
  /* Search/Text 14 */
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 401;
  line-height: normal;
  align-self: stretch;
}


.date-text {
  color: var(--Primary-Grey, #343435);
  /* Heading/form 13 */
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rating-outer {
  border-radius: 0.5rem;
  background: var(--Adhoc-Grey, #F6F6F6);
  display: flex;
  padding: 0.5rem;
  justify-content:space-between;
  align-items: center;
  align-self: stretch;
}

.your-rating {
  color: var(--Primary-Grey, #343435);
  /* Search/Text 14 */
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.st {
  border: 1px solid black;
}
