<div class="mobile-book ">
  <div class="image-text ">
    <div class="book-image">
      <img src={{books.image}} />

    </div>
    <div class="text-outer ">
      <div class="text-header">
        <span class="book-heading">
          {{books.bookName}}
        </span>
        <span *ngIf="books.author" class="author" >
          {{ books?.author.join(' & ')}}
        </span>
      </div>
      <div class="date">
        <div class="issue-date">
          <span class="issue">
            Date of Issue
          </span>
          <span class="date-text">
            {{books.issueDate | date:'MM-dd-yyyy'}}
          </span>
        </div>
        <div class="issue-date">
          <span class="issue">
            Date of Return
          </span>
          <span class="date-text">
            {{books.returnDate | date:'MM-dd-yyyy'}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="rating-outer">
    <span class="your-rating">Your Rating</span>


    <div class="rating ">
      <!--<img src="../../../../assets/icons/Admin-dashboard/Rating.svg" />-->
      <ng-container *ngFor="let star of getStarsArray(books.points)">
        <img src="../../../../assets/icons/My-books-mobile/Star filled.svg" class="star-icon" />
      </ng-container>
      <ng-container *ngFor="let star of getEmptyStarsArray(books.points)">
        <img src="../../../../assets/icons/My-books-mobile/Star empty.svg" class="star-icon" />
      </ng-container>
    </div>
  </div>
 
</div>
