<div class="modal-body body">
  <div class="row row-modal">
    <div class="col-md-5 issue-book-header">
      <div class="header-text">
        <p class="body-text">The Design of Every Day Things</p>
        <p class="body-subhead">Donald A. Norman</p>
        <img class="qrImage-page" src="../../../assets/images/image 19529.jpg" />
      </div>
      <div class="image-container">
        <img class="bookImage" src="../../../assets/images/image 19528.jpg" />
        <img class="qrImage-modal" src="../../../assets/images/image 19529.jpg" />
      </div>
    </div>
    <div class="col-md-7 form-col">
      <div class="form-component">
        <form>
          <div class="form-group custom-form-group user-search">
            <label for="user">User <span class="asteric">*</span></label>
            <!--<ng-select placeholder="Search User">
            <div class="options-div">
              <ng-option *ngFor="let value of users" [value]="value.id">

                <div class="option">
                  <div class="name-id">
                    <span class="option-name">{{value.name}}</span>
                  </div>
                </div>
              </ng-option>-->
            <ng-select [(ngModel)]="selectedUser" class="custom" placeholder="Select User">
              <ng-option *ngFor="let user of users" [value]="user.id">{{user.name}}</ng-option>
            </ng-select>


          </div>
          <div class="date-container-form">
            <div class="form-group  custom-form-group">
              <label for="issueDate">Date of Issue <span class="asteric">*</span></label>
              <div class="custom-date-input">
                <input type="date" class="form-control form-control-custom issue-input-tab" id="issueDateInput" #issueDateInput disabled [value]="issueDateInputValue">
                <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon" (click)="openDatePicker(issueDateInput)">
              </div>
            </div>
            <div class="form-group date-input  custom-form-group">
              <label for="returnDate">Date of Return <span class="asteric">*</span></label>
              <div class="custom-date-input">
                <input type="date" class="form-control form-control-custom" id="returnDateInput" #returnDateInput disabled [value]="returnDateInputValue">
                <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon" (click)="openDatePicker(issueDateInput)">
              </div>
            </div>
          </div>
          <div class="form-alert">
            <img src="../../../assets/icons/alert.svg" />
            <p class="alert-text">The returned window is 15 days</p>
          </div>
          <div class="form-group  custom-form-group">
            <label for="comments">Comments <span class="asteric">*</span></label>
            <textarea class="form-control form-control-custom textarea" id="comments" rows="3" placeholder="Enter Comments"></textarea>
          </div>
        </form>
      </div>
      <div class="issue-button-mobile">Issue</div> 
    </div>
  </div>
</div>
