<!--<div [ngClass]="{'issue-body': mappedBook?.issueTo !== null}" class="modal-body body">
  <div class="row row-modal">
    <div class="col-md-5 issue-book-header">
      <div class="header-text">
        <p class="body-text">{{mappedBook?.title}}</p>
        <p class="body-subhead">{{mappedBook?.authorName.join(' & ')}}</p>
        <img class="qrImage-page" src="../../../assets/images/image 19529.jpg" />
      </div>
      <div class="image-container">
        <img class="bookImage" src={{mappedBook?.image}} />
        <img class="qrImage-modal" src="../../../assets/images/image 19529.jpg" />
      </div>
    </div>-->
    <!--<div *ngIf="showErrorMessage">
      jbvjsdvhdua
    </div>-->
    <!--<div class="col-md-7 form-col">
      <div class="form-component">
        <form [formGroup]="issueBookForm">
          <div *ngIf="mappedBook?.issueTo == null" class="form-group custom-form-group user-search">
            <label for="user">User <span class="asteric">*</span></label>
            <div [class.error-alert-box1]="showErrorMessage && issueBookForm.get('issueTo')?.invalid">
              <ng-select formControlName="issueTo"
                         placeholder="Select User"
                         class="custom se">
                <ng-option *ngFor="let user of totalusers" [value]="user.id">{{ user.fullName }}</ng-option>
              </ng-select>-->

              <!--<ng-select formControlName="issueTo" class="custom se" placeholder="Select User">
                <ng-option *ngFor="let user of totalusers" [value]="user.id">{{ user.fullName}}</ng-option>
              </ng-select>-->
              

              

            <!--</div>
          </div>
          <div *ngIf="mappedBook?.issueTo !== null">
            <div class="issued-to-heading">Issued To</div>
            <div class="issued-to-container">
              {{mappedBook.issueTo}}
            </div>
          </div>
          <div class="date-container-form" *ngIf="mappedBook?.issueTo == null">
            <div class="form-group  custom-form-group ">
              <label for="issueDate">Date of Issue <span class="asteric">*</span></label>
              <div class="custom-date-input date-container">
                <input type="date" class="form-control form-control-custom issue-input-tab" id="issueDateInput" #issueDateInput disabled [value]="issueDateInputValue">
                <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon" (click)="openDatePicker(issueDateInput)">
              </div>
            </div>
            <div class="form-group date-input custom-form-group ">
              <label for="returnDate">Date of Return <span class="asteric">*</span></label>
              <div class="custom-date-input date-container ">
                <input type="date" class="form-control form-control-custom" id="returnDateInput" #returnDateInput disabled [value]="returnDateInputValue">
                <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon" (click)="openDatePicker(issueDateInput)">
              </div>
            </div>
          </div>

          <div class="date-container-form date-container-inner-form" *ngIf="mappedBook?.issueTo !== null">
            <div class="custom-form-group cust ">
              <div class="custom-inner">
                <label for="issueDate">Date of Issue </label>
                <div class="custom-date-input date-container issued-to-container">
                  <div class="date-issued-container">
                    <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon">
                    {{mappedBook.issueDate | date:'dd-MM-yyyy'}}
                  </div>
                </div>
              </div>
              <div class="custom-form-group cust">
                <div class="custom-inner">
                  <label for="returnDate">Date of Return </label>
                  <div class="custom-date-input date-container issued-to-container">
                    <div class="date-issued-container">
                      <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon">
                      {{mappedBook.returnDate | date:'dd-MM-yyyy'}}
                      <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="form-alert alert-container" *ngIf="mappedBook?.issueTo == null">
            <img src="../../../assets/icons/alert.svg" />
            <p class="alert-text">The returned window is 15 days</p>
          </div>
          <div class="form-group  custom-form-group comments-div " *ngIf="mappedBook?.issueTo == null">
            <label for="comments">Comments <span class="asteric">*</span></label>
            <textarea formControlName="description"
                      [class.error-alert-box1]="showErrorMessage && issueBookForm.get('description')?.invalid"
                      class="form-control form-control-custom text-area"
                      id="comments" rows="3"
                      placeholder="Enter Comments"></textarea>
          </div>
          <div class="form-group comments-div issued-to-heading" *ngIf="mappedBook?.issueTo !== null">
            <label for="comments">Comments <span class="asteric">*</span></label>
            <div *ngIf="mappedBook?.issueTo !== null" class="issued-to-container comment-container">
              {{mappedBook.comment}}
            </div>
          </div>

          <div class="row footer-buttons-issued">
            <div class="col-buttons">
              <div class="cancel-btn" data-bs-dismiss="modal" *ngIf="mappedBook?.issueTo !== null">Cancel</div>
            </div>
            <app-revoke-book-modal [bookIssueId]="mappedBook?.bookIssueId"></app-revoke-book-modal>
            <app-success-modal ></app-success-modal>

            <div class="col-buttons">
              <button class="save-btn-issued " data-toggle="modal"  data-bs-dismiss="modal" *ngIf="mappedBook?.issueTo !== null" (click)="Revoke()"  >Revoke</button>
            </div>
          </div>
        </form>
        <div *ngIf="showErrorMessage && mappedBook?.issueTo == null" class="validation-alert">Highlighted Fields are mandatory</div>
        <div class="footer ">
          <div class="row footer-buttons ">
            <div class="col-buttons">
              <div class="cancel-btn" data-bs-dismiss="modal" *ngIf="mappedBook?.issueTo == null">Cancel</div>
            </div>
            <div class="col-buttons">
              <button class="save-btn" (click)="onSubmit(); next()" *ngIf="mappedBook?.issueTo == null">Issue</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button class="issue-button-mobile" (click)="onSubmit()" [disabled]="!nextValidation()">Issue</button>
  </div>

</div>-->


<div [ngClass]="{'issue-body': mappedBook?.issueTo !== null}" class="modal-body body">
  <div class="row row-modal">
    <div class="col-md-5 issue-book-header">
      <div class="header-text">
        <p class="body-text">{{mappedBook?.title}}</p>
        <p class="body-subhead">{{mappedBook?.authorName.join(' & ')}}</p>
        <img class="qrImage-page" src="../../../assets/images/image 19529.jpg" />
      </div>
      <div class="image-container">
        <img class="bookImage" src={{mappedBook?.image}} />
        <img class="qrImage-modal" src="../../../assets/images/image 19529.jpg" />
      </div>
    </div>
    <!--<div *ngIf="showErrorMessage">
      jbvjsdvhdua
    </div>-->
    <div class="col-md-7 form-col">
      <div class="form-component">
        <form [formGroup]="issueBookForm">
          <div *ngIf="mappedBook?.issueTo == null" class="form-group custom-form-group user-search">
            <label for="user">User <span class="asteric">*</span></label>
            <div [class.error-alert-box1]="showErrorMessage && issueBookForm.get('issueTo')?.invalid">
              <ng-select formControlName="issueTo"
                         placeholder="Select User"
                         class="custom se">
                <ng-option *ngFor="let user of totalusers" [value]="user.id">{{ user.fullName }}</ng-option>
              </ng-select>

              <!--<ng-select formControlName="issueTo" class="custom se" placeholder="Select User">
                <ng-option *ngFor="let user of totalusers" [value]="user.id">{{ user.fullName}}</ng-option>
              </ng-select>-->




            </div>
          </div>
          <div *ngIf="mappedBook?.issueTo !== null">
            <div class="issued-to-heading">Issued To</div>
            <div class="issued-to-container">
              {{mappedBook.issueTo}}
            </div>
          </div>
          <div class="date-container-form" *ngIf="mappedBook?.issueTo == null">
            <div class="form-group  custom-form-group ">
              <label for="issueDate">Date of Issue <span class="asteric">*</span></label>
              <div class="custom-date-input date-container">
                <input type="date" class="form-control form-control-custom issue-input-tab" id="issueDateInput" #issueDateInput disabled [value]="issueDateInputValue">
                <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon" (click)="openDatePicker(issueDateInput)">
              </div>
            </div>
            <div class="form-group date-input custom-form-group ">
              <label for="returnDate">Date of Return <span class="asteric">*</span></label>
              <div class="custom-date-input date-container ">
                <input type="date" class="form-control form-control-custom" id="returnDateInput" #returnDateInput disabled [value]="returnDateInputValue">
                <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon" (click)="openDatePicker(issueDateInput)">
              </div>
            </div>
          </div>

          <div class="date-container-form date-container-inner-form" *ngIf="mappedBook?.issueTo !== null">
            <div class="custom-form-group cust ">
              <div class="custom-inner">
                <label for="issueDate">Date of Issue </label>
                <div class="custom-date-input date-container issued-to-container">
                  <div class="date-issued-container">
                    <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon">
                    {{mappedBook.issueDate | date:'dd-MM-yyyy'}}
                  </div>
                </div>
              </div>
              <div class="custom-form-group cust">
                <div class="custom-inner">
                  <label for="returnDate">Date of Return </label>
                  <div class="custom-date-input date-container issued-to-container">
                    <div class="date-issued-container">
                      <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon">
                      {{mappedBook.returnDate | date:'dd-MM-yyyy'}}
                      <img src="../../../assets/icons/issue-modal/calendar.svg" alt="Calendar Icon" class="calendar-icon">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="form-alert alert-container" *ngIf="mappedBook?.issueTo == null">
            <img src="../../../assets/icons/alert.svg" />
            <p class="alert-text">The returned window is 15 days</p>
          </div>
          <div class="form-group  custom-form-group comments-div " *ngIf="mappedBook?.issueTo == null">
            <label for="comments">Comments <span class="asteric">*</span></label>
            <textarea formControlName="description"
                      [class.error-alert-box1]="showErrorMessage && issueBookForm.get('description')?.invalid"
                      class="form-control form-control-custom text-area"
                      id="comments" rows="3"
                      placeholder="Enter Comments"></textarea>
          </div>
          <div class="form-group comments-div issued-to-heading" *ngIf="mappedBook?.issueTo !== null">
            <label for="comments">Comments <span class="asteric">*</span></label>
            <div *ngIf="mappedBook?.issueTo !== null" class="issued-to-container comment-container">
              {{mappedBook.comment}}
            </div>
          </div>

          <div class="row footer-buttons-issued">
            <div class="col-buttons">
              <div class="cancel-btn" data-bs-dismiss="modal" *ngIf="mappedBook?.issueTo !== null">Cancel</div>
            </div>
            <app-revoke-book-modal [bookIssueId]="mappedBook?.bookIssueId"></app-revoke-book-modal>
            <app-success-modal></app-success-modal>

            <div class="col-buttons">
              <button class="save-btn-issued " data-toggle="modal" data-bs-dismiss="modal" *ngIf="mappedBook?.issueTo !== null" (click)="Revoke()">Revoke</button>
            </div>
          </div>
        </form>
        <div *ngIf="showErrorMessage && mappedBook?.issueTo == null" class="validation-alert">Highlighted Fields are mandatory</div>
        <div class="footer ">
          <div class="row footer-buttons ">
            <div class="col-buttons">
              <div class="cancel-btn" data-bs-dismiss="modal" *ngIf="mappedBook?.issueTo == null">Cancel</div>
            </div>
            <div class="col-buttons">
              <button class="save-btn" (click)="onSubmit(); next()" *ngIf="mappedBook?.issueTo == null">Issue</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button class="issue-button-mobile" (click)="onSubmit()" [disabled]="!nextValidation()">Issue</button>
  </div>

</div>








