<!--<app-success-modal></app-success-modal>-->
<app-comments-modal [bookQrMappingId]="bookData?.bookQrMappingId"></app-comments-modal>
<app-archive-modal [bookName]="bookName" [bookData]="bookData" [isArchive]="isArchive"></app-archive-modal>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="empty">
    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
    <td mat-cell *matCellDef="let element">&nbsp;</td>
  </ng-container>

  <ng-container matColumnDef="qrNumber">
    <th mat-header-cell *matHeaderCellDef> QR Number </th>
    <td mat-cell *matCellDef="let element"> {{element.qrNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="issuedTo">
    <th mat-header-cell *matHeaderCellDef> Issued To </th>
    <td mat-cell *matCellDef="let element"> {{element.issuedTo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="issueDate">
    <th mat-header-cell *matHeaderCellDef> Date of Issue </th>
    <td mat-cell *matCellDef="let element"> {{element.issueDate | date: 'MM-dd-yyyy'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="returnDate">
    <th mat-header-cell *matHeaderCellDef> Date of Return </th>
    <td mat-cell *matCellDef="let element"> {{element.returnDate  | date: 'MM-dd-yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status == 'Available'" class="book-status-available">
        <span>AVAILABLE</span>
      </div>
      <div *ngIf="element.status == 'Archive'" class="book-status-archive">
        <span>ARCHIVE</span>
      </div>
      <div *ngIf="element.status == 'Not Available'" class="book-status-reading">
        <span>READING</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef> Comments </th>
    <td mat-cell *matCellDef="let element">
      <div class="comment-cell">
        <button type="button" class="" data-toggle="modal" data-target="#commentsModal" (click)="bookData = element">
          <img src="../../../../assets/icons/manage-books/comments-icon.svg" />
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <div class="action-cell">
        <!--<div class="revoke-icon">
          <button type="button" class="revoke-modal-button" data-toggle="modal" data-target="#revoke" (click)="setBookIssueId(element)" [disabled]="isBookIssued(element)==false">
            <img src="../../../../assets/icons/manage-books/revoke-enabled.svg" />
          </button>
        </div>-->
        <div class="archive-icon">
          <button *ngIf="element.status.toLowerCase() != 'archive'" type="button" class="archive-modal-button" data-toggle="modal" data-target="#archiveModal" (click)="bookData = element; isArchive = true" [disabled]="isBookIssued(element)">
            <img src="../../../../assets/icons/manage-books/archive.svg" />
          </button>
          <button *ngIf="element.status.toLowerCase() == 'archive'" type="button" class="unarchive-button" data-toggle="modal" data-target="#archiveModal" (click)="bookData = element; isArchive = false" [disabled]="isBookIssued(element)">
            <img src="../../../../assets/icons/manage-books/archive.svg" />
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!--<app-revoke-book-modal></app-revoke-book-modal>-->
