table {
  width: 100%;
  box-shadow: none;
}

.comment-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
}

.action-cell {
  display: flex;
  width: 6.25rem;
  height: 2.75rem;
  padding: 0.625rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  background: #FFF;
}

.revoke-icon img {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.archive-icon img {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.mat-mdc-header-row {
  background: #F2F2F2 !important;
  height: 2.25rem !important;
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.unarchive-button img {
  transform-origin: center;
  transform: rotate(180deg);
}

.archive-modal-button:disabled, .revoke-modal-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.book-status-available {
  display: flex;
  width:fit-content;
  height: 1.5rem;
  padding: 0.4375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #CEF0DC;
}

.book-status-available span {
  color: #0D542A;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 142.857% */
  text-transform: uppercase;
}

.book-status-archive {
  display: flex;
  width: fit-content;
  height: 1.5rem;
  padding: 0.4375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: #FFE8E8;
}

.book-status-archive span {
  color: #CC1A07;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.book-status-reading {
  display: flex;
  width: fit-content;
  height: 1.5rem;
  padding: 0.4375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  background: var(--Adhoc-Info-Blue, #E3F3FC);
}

.book-status-reading span {
  color: var(--Primary-Royal-Blue, #002C3F);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 142.857% */
  text-transform: uppercase;
}
