
.title-image {
  display: flex;
  width: 160px;
  height: 24px;
  gap: 5px;
  margin-left:0.8rem;
}

.close {
  cursor: pointer;
}

/*.modal-body {
  margin-top: -1rem;
}*/

/*.modal-header {
  border: none;
}*/

.border-line{
    border: none;
    width:40.56rem;
    padding:0.5rem;
    margin-left:-5rem !important;
}

.header-line {
  border: none;
}

.book-body {
  margin-top: -1rem;
}

.book-title-content {
  font-family: Literata;
  font-size: 19px;
  font-weight: 600;
  line-height: 31.19px;
  text-align: left;
}


.details {
  width: 396px;
  height: 180px;
  gap: 20px;
}

#exampleModalLabel {
  font-family: Literata;
  font-size: 15px;
  font-weight: 600;
  line-height: 19.7px;
  text-align: left;
}

.book {
  width: 24px;
  height: 24px;
  padding: 2.45px 0px 2.98px 0px;
}

.title-and-author {
  height: auto;
  margin-bottom:1.25rem;
}

.name-of-author {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  color: #6D6D6D;
}

.rating-book {
  display: flex;
  height: 20px;
  margin-top: 11px;
/*  gap: 2px;*/
}

.numberOfPeopleReviewed {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  width: 24px;
  height: 17px;
  color: #6D6D6D;
  margin-left: 5px;
}

.tags-container {
  display: flex;
  align-items: center;

}

.tag {
  width: 79px;
  padding: 8px;
  border-radius: 4px 4px 4px 4px;
  background: #CEF0DC;
  font-family: Lato;
  font-size: 11px;
  font-weight: 600;
  line-height: 6px;
  text-align: left;
  color: #0D542A;
  margin-left: 6px;
}

.book-content {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6875rem; /* 168.75% */
  width: 24.25rem;
  height: 10.125rem;
  overflow-y: auto;
  text-align: justify;
  
}

.book-content {
  padding-right: 10px; /* Adjust as needed to create the desired gap */
}

  /* Specific style for .book-content to show scrollbar */
  .book-content::-webkit-scrollbar {
    display: block;
    width: 5px; /* Adjust as needed */
  }

  .book-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Adjust as needed */
    border-radius: 10px; /* Make ends rounded */
  }

.image-content {
  width: 8.8125rem;
  height:13.0625rem;
  margin-left:1.5rem;
}


.not-avaliable-tag {
  background: #FFE8E8;
  font-family: Lato;
  font-size: 8px;
  font-weight: 600;
  line-height: 6px;
  width: 79px;
  padding: 8px;
  border-radius: 4px 4px 4px 4px;
  color: #CC1A07;
  display: flex;
  margin-left: 6px;
}



  @media only screen and (max-width: 700px) {
   
    /*
  @keyframes bottomSlide {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0%);
    }
  }
*/
    .book-body {
      padding:0rem !important;

    }
    #exampleModalLabel {
      font-family: Literata;
      font-size: 15px;
      font-weight: 600;
      line-height: 19.7px;
      text-align: left;
    }

    .border-line {
      width: 100vw ;
      padding: 0rem;
      overflow-x:hidden;
      margin-left: 0rem !important;
    }
   

    .book-modal-image {
      display: flex;
      justify-content: center;
      order:-1;
      margin-top:1rem;
      margin-bottom:1rem;
    }
    .book-content {
     width:105% !important;
      height: 10.125rem;
      margin-left:-15px;
      padding:0rem 1.5rem;
    }
    .book-title-content {
      font-family: Literata;
      font-size: 19px;
      font-weight: 600;
      line-height: 31.19px;
      text-align: left;
    }


    .image-content {
      width: 6.875rem;
      height: 10.1875rem;
      border-radius: 0.5rem;
      margin-left:0rem;
    }

    .not-avaliable-tag {
      background: #FFE8E8;
      font-family: Lato;
      font-weight: 600;
      line-height: 6px;
      width: fit-content;
      padding: 8px;
      border-radius: 4px 4px 4px 4px;
      color: #CC1A07;
      display: flex;
      margin-left: 6px;
    }

    .container{
        padding-right: 0rem;
    }
    .title-and-author {
      height: auto;
      margin-left: -15px;
      padding: 0rem 1.5rem;
      margin-bottom:1.25rem;
    }

  }

@media only screen and (max-width: 350px) {
  .not-avaliable-tag {
    font-size: 5.6px;
  }
}





