.navbar-component {
  width: 1272px;
  height: 60px;
  padding: 16px 0px 0px 0px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #002C3F;
}

.first-container {
  width: 791px;
  height: 40px;
  gap: 80px;
  display: flex;
}

.cg-logo {
  width: 158px;
  height: 31.241px;
  padding-left: 15px;
}

.navbar-buttons {
  width: 254px;
  height: 40px;
  margin-top: -5px;
  border-radius: 72px;
  background: var(--Primary-Pure-White, #FFF);
  display: flex;
  align-items: center;
}

.readers-hub {
  width: 125px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 72px;
/*  background: #FFB81C;*/
  outline: none;
  border: none;
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: flex-start;
  margin-top:2px;
  margin-left: 2px;
  background: none;
}

.readers-hub-image {
  margin-right: 10px; 
}

.readers-hub p {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  margin-top: 15px;

}

.navbar-buttons button {
  transition: background-color 0.2s; 
}

.navbar-buttons button.active {
  background-color: #FFB81C;
  color: #002C3F; 
}

.second-container {
  width: 399px;
  height: 44px;
  gap: 24px;
  display: flex;
}

.navbar-component .search-box-container {
  position: relative;
}

.navbar-component .search-icon {
  position: absolute;
  left: 10px;
  top: 36%;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none;
  padding-left: 10px;
}

.navbar-component .search-box {
  padding-left: 50px; 
}

input[type=text] {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}


.search-box {
  border: 2px solid var(--Primary-Pure-White, #FFF);
  border-radius: 55px;
  height: 44px;
  display: flex;
  width: 276px;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  margin-top: -7px;
  background: none;
  color: white;
  outline: none;
}

::placeholder{
    color: white;
}

.initials {
  width: 65px;
  height: 40px;
  gap: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}

.login {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Primary-Pure-White, #FFF);
}

.name {
  color: var(--Primary-Royal-Blue, #002C3F);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 10px;
}

@media only screen and (max-width: 700px) {
  .navbar-component {
    display: flex;
    width: 507px;
    height: 56px;
    padding: 6px 16px 6px 16px;
    justify-content: space-between;
  }

  .cg-logo {
    width: 160px;
    height: 31.21px;
    padding-left: 5px;
    margin-top: 10px;
  }

  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    /* background-color: transparent; */
    border: 1px solid black;
    border-radius: .25rem;
  }

  .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    background: url('../../../../assets/icons/Menu.svg');
    background-size: 100% 100%;
  }
}
