<nav class="navbar navbar-expand-lg navbar-component">




  <div class="first-container">
    <div class="cg-logo">
      <img src="../../../../assets/icons/CG Logo.svg" />
    </div>

    <div class="navbar-buttons">

      <button type="button"
              class="readers-hub"
              [class.active]="activeButton === 'readers-hub'"
              (click)="toggleActiveButton('readers-hub')">
        <img src="../../../../assets/icons/ic_round-dashboard.svg" class="readers-hub-image" />
        <p>Reader's Hub</p>
      </button>

      <button type="button" class="readers-hub" [class.active]="activeButton === 'my-books'"
              (click)="toggleActiveButton('my-books')">
        <img src="../../../../assets/icons/nav book icon.svg" class="readers-hub-image" />
        <p>My Books</p>
      </button>


    </div>
  </div>



  <div class="second-container">
    <div class="search-box-container">
      <img src="../../../../assets/icons/searchIcon.svg" class="search-icon" />
      <input type="text" class="search-box" placeholder="Search books" />
    </div>

    <div class="initials">
      <div class="login">
        <p class="name">JJ</p>
      </div>
      <div class="chevron-down">
        <img src="../../../../assets/icons/Chevron down.svg" />
      </div>
    </div>

  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <img src="../../../../assets/icons/Menu.svg" class="navbar-toggler-icon" />
  </button>



</nav>

