.archive-modal-container {
  width: 31.5rem;
  height: 19.8125rem;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.archive-modal-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.archive-modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.archive-modal-footer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.heading{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.heading img {
  width: 2.25rem;
  height: 2.25rem;
}

.heading span {
  color: var(--Primary-Grey, #343435);
  font-family: Literata;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content-body {
  align-self: stretch;
}

.content-body span {
  color: var(--Adhoc-Text-Grey, var(--Icon, #6D6D6D));
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.content-bold {
  color: var(--Adhoc-Text-Grey, var(--Icon, #6D6D6D));
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.content-comment {
  display: flex;
  height: 5.0625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  align-self: stretch;
}

.content-comment span {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.required {
  color: var(--Other-Red, #E03E2D);
  font-family: Lato;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-comment textarea {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 6.625rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Gray, #B2B2B3);
  background: var(--Primary-White, #FFF);
}

.content-comment textarea[placeholder] {
  color: var(--Primary-Gray, #343435);
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}

.archive-modal-footer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.cancel-button {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 1.625rem;
  border: 1px solid #28519E;
  background: #ffffff;
  outline: none;
  cursor: pointer;
}

.cancel-button span {
  color: var(--Primary-Blue, #28519E);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 501;
  line-height: normal;
}

.archive-button {
  display: flex;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 1.9375rem;
  background: var(--Primary-Blue, #28519E);
  border: none;
  outline: none;
  cursor: pointer;
}

.archive-button span {
  color: #FFF;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 501;
  line-height: normal;
}

.retrieve-icon {
  transform-origin: center;
  transform: rotate(180deg);
}
