<app-book-details-modal [books]="books"></app-book-details-modal>

 
      <div class="card" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="../../../assets/icons/Book Card.svg" class="book-card" />
        <img [src]="books.imageUrl" class="book-image" />
        <img src="../../../assets/icons/Rectangle 9841 (1).svg" class="book-card-rectangle" />
        <div class="book-details">
          <div class="tag">AVALIABLE</div>
          <div class="book-title">{{ books.title }}</div>
          <div class="author-name">{{ books.author }}</div>
          <div class="rating">
            <ng-container *ngFor="let star of getStarsArray(books.ratingUrl)">
             <img src="../../../assets/icons/filled_star.svg" class="star-icon"/>
            </ng-container>
            <ng-container *ngFor="let star of getEmptyStarsArray(books.ratingUrl)">
              <img src="../../../assets/icons/empty_star.svg" class="star-icon"/>
            </ng-container>
            <div>({{books.numberOfPeopleReviewed}})</div>
          </div>
        </div>
      </div>



