<app-add-books-modal></app-add-books-modal>

<div class="container-fluid outer-margin">
  <div class="row dashboard-heading">
    <div class="dashboard-text">Dashboard</div>

  </div>
  <div class="row welcome-outer-div ">

    <div class="col-lg-8 col-md-6 pl-0 media-outer welcome-outer-card ">
      <div class="welcome-div  ">
        <div class="row welcome-text-outer ">
          <div class="col-md-7 p-0 ">
            <div class="wave-image ">
              <span class="welcome-header">Welcome back </span>
              <img src="../../../assets/icons/Admin-dashboard/waving-hand-sign.svg" class="wave-hand" />
              <br />
            </div>

            <span class="welcome-header">Jacob Jones</span>
            <div class="row ">
              <span class="welcome-detail-text ">
                Let’s streamline access, organize information &
                empower learning
              </span>
            </div>
          </div>
          <div class="col-md-4  banner-image">
            <img src="../../../assets/icons/Admin-dashboard/dashboard-book-icon.svg" />

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-3 pl-0 media-outer  padding-outer">
      <div class="total-books-outer ">
        <div class="outer-total">
          <img src="../../../assets/icons/Admin-dashboard/Ellipse.svg" class="ellipse" />
          <img src="../../../assets/icons/Admin-dashboard/Books.svg" class="books" />
          <div class="stack   ">
            <div class="total-number ">
              <span class="Total-books-text ">Total Books</span>
              <span class="number ">120</span>
            </div>


          </div>

        </div>
        <div class="button-outer">
          <button type="button" class="btn btn-primary add-button" (click)="handleButtonClick()">
            <!--data-toggle="modal" data-target="#exampleModalCenter">-->
            <img src="../../../assets/icons/Admin-dashboard/Add.svg" />
            <span>Add New Book</span>
          </button>
        </div>


      </div>
    </div>


    <app-issue-book-modal></app-issue-book-modal>
    <div class="col-lg-2 col-md-3 pl-0 media-outer pr-0 padding-outer-rightCard">
      <div class="issue-books-outer">
        <div class="outer-issue">
          <img src="../../../assets/icons/Admin-dashboard/Ellipse.svg" class="ellipse" />
          <img src="../../../assets/icons/Admin-dashboard/User.svg" class="user" />
          <div class="stack  ">
            <div class="total-number ">
              <span class="Total-books-text " >Issue Books</span>
              <span class="number ">60</span>
            </div>


          </div>

        </div>
        <div class="button-outer">
          <button type="button" class="btn btn-primary issue-button " (click)="handleButtonClick()">
            <img src="../../../assets/icons/Admin-dashboard/issue-books.svg" />
            <span>Issue Book</span>
          </button>
        </div>

      </div>
    </div>



  </div>
  <div class="row top-choice-div ">
    <div class="top-choices ">Top Choice Books</div>
  </div>
  <div class="row card-row " style="margin-top:3rem">
    <div *ngFor="let book of mostPopularBooks" class="col-5 col-sm-6 col-md-2 gapp  m-0 p-0">
      <app-books-card-shared [books]="book"></app-books-card-shared>
    </div>
  </div>



</div>

<!--<p>admin-dashboard works!</p>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>-->




<!--<div *ngIf="isCameraExist; else noCameraExist">
  <div style="text-align:center">
    <div class="btn-group">
      <button class="button" (click)="takeSnapshot()">Take Picture</button>
      <button class="button" (click)="changeWebCame(true)">
        Toggle Camera
      </button>
      <button class="button" (click)="onOffWebCame()">Switch camera</button>
    </div>
    <br />
    <webcam [height]="500"
            [width]="1000"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"
            *ngIf="showWebcam"
            [switchCamera]="nextWebcamObservable"></webcam>
  </div>

  <div *ngIf="errors.length > 0">
    <h4>Error Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{ error | json }}</li>
    </ul>
  </div>
</div>

<ng-template #noCameraExist> Camera device not available </ng-template>-->
